In [2]:
pip install datatile

Requirement already satisfied: datatile in /Users/nicolastobon/opt/anaconda3/lib/python3.7/site-packages (0.2.0)
Requirement already satisfied: numpy in /Users/nicolastobon/opt/anaconda3/lib/python3.7/site-packages (from datatile) (1.21.5)
Requirement already satisfied: pandas in /Users/nicolastobon/opt/anaconda3/lib/python3.7/site-packages (from datatile) (1.3.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/nicolastobon/opt/anaconda3/lib/python3.7/site-packages (from pandas->datatile) (2.8.0)
Requirement already satisfied: pytz>=2017.3 in /Users/nicolastobon/opt/anaconda3/lib/python3.7/site-packages (from pandas->datatile) (2019.3)
Requirement already satisfied: six>=1.5 in /Users/nicolastobon/opt/anaconda3/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas->datatile) (1.12.0)
Note: you may need to restart the kernel to use updated packages.

In [7]:
from datatile.summary.df import DataFrameSummary
import pandas as pd
import numpy as np
import csv
import requests
import json
import os
import matplotlib.pyplot as plt
from sklearn import preprocessing

In [4]:
url = 'https://opendata.arcgis.com/api/v3/datasets/ed0468f5e579464b84727a4ab614fd40_0/downloads/data?format=csv&spatialRefId=4326'

## 
response = requests.get(url)
print(type(response))
print(response)


##result = pd.DataFrame.from_dict(response)
##result = pd.read_json(response)

<class 'requests.models.Response'>
<Response [200]>

In [5]:
print(type(response.content))
filename_header = response.headers['Content-Disposition']
filename = filename_header.split('=')[1]
filename = eval(filename)
print(filename)

##tempdf = pd.read_csv(response.text)
##tempdf

<class 'bytes'>
Property_Boundary_View.csv

In [9]:
path = os.path.abspath(os.curdir)
print(path)
dataset_path = path + "/" + filename
print(dataset_path)

/Users/nicolastobon/Desktop/Data Projects/Miami Properties for Git
/Users/nicolastobon/Desktop/Data Projects/Miami Properties for Git/Property_Boundary_View.csv

In [10]:
with open(dataset_path, 'wb') as local_file:
            for chunk in response.iter_content(chunk_size=128):
                  local_file.write(chunk)

In [11]:
with open('Property_Boundary_View.csv') as csv_file:
    reader = csv.reader(csv_file)

In [12]:
result = pd.read_csv('Property_Boundary_View.csv')
print(type(result))

/Users/nicolastobon/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3524: DtypeWarning: Columns (7,12) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

<class 'pandas.core.frame.DataFrame'>

In [13]:
pd.set_option('max_columns', None)

In [14]:
dfs = DataFrameSummary(result)
dfs.summary()

,OBJECTID,PID,FOLIO,TTRRSS,X_COORD,Y_COORD,TRUE_SITE_ADDR,TRUE_SITE_UNIT,TRUE_SITE_CITY,TRUE_SITE_ZIP_CODE,TRUE_MAILING_ADDR1,TRUE_MAILING_ADDR2,TRUE_MAILING_ADDR3,TRUE_MAILING_CITY,TRUE_MAILING_STATE,TRUE_MAILING_ZIP_CODE,TRUE_MAILING_COUNTRY,TRUE_OWNER1,TRUE_OWNER2,TRUE_OWNER3,CONDO_FLAG,PARENT_FOLIO,DOR_CODE_CUR,DOR_DESC,SUBDIVISION,BEDROOM_COUNT,BATHROOM_COUNT,HALF_BATHROOM_COUNT,FLOOR_COUNT,UNIT_COUNT,BUILDING_ACTUAL_AREA,BUILDING_HEATED_AREA,LOT_SIZE,YEAR_BUILT,ASSESSMENT_YEAR_CUR,ASSESSED_VAL_CUR,DOS_1,PRICE_1,LEGAL,Shape__Area,Shape__Length
count,582889.0,582889.0,577546.0,582889.0,582889.0,582889.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,101.0,577491.0,NaN,576902.0,577491.0,577491.0,577491.0,577491.0,577491.0,577491.0,577491.0,577491.0,577491.0,577491.0,577491.0,541292.0,541292.0,NaN,582889.0,582889.0
mean,291445.0,300316.601344,2235409569146.066406,542848.072245,877507.865002,514033.6257,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1977439019109.910889,952.730785,NaN,223565747.511796,3.333602,2.27276,0.117697,1.202026,1.424244,3734.543402,3429.380136,212623.694724,1734.25186,2022.0,554776.392503,20091731.212532,523014.15199,NaN,10385.295186,192.05433
std,168265.704866,175568.069419,1262498865083.462891,15423.111114,34033.632947,50473.093224,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1314176965763.345947,2259.453606,NaN,126255220.52704,21.812396,12.370458,1.284018,45.819677,12.2871,30580.746445,30114.065932,11008705.505947,670.501893,0.0,4942662.818148,114952.637477,3809344.155397,NaN,487447.522718,473.993822
min,1.0,1.0,0.0,514131.0,698060.1,293562.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,141150220001.0,0.0,NaN,10100000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2022.0,0.0,19230317.0,0.0,NaN,0.669922,6.448753
25%,145723.0,148968.0,722070310492.5,534012.0,852810.2,480836.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,430020500001.0,101.0,NaN,72207031.0,2.0,1.0,0.0,1.0,1.0,1349.0,1197.0,5000.0,1950.0,2022.0,129571.0,20021101.0,100.0,NaN,584.376953,103.755297
50%,291445.0,298636.0,3040120110135.0,543934.0,876697.9,516505.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3040180500001.0,101.0,NaN,304012011.0,3.0,2.0,0.0,1.0,1.0,1892.0,1620.0,7500.0,1966.0,2022.0,217005.0,20130801.0,120000.0,NaN,853.175781,121.293998
75%,437167.0,447941.0,3059210332107.5,553923.0,904433.0,555320.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3122140000001.0,410.0,NaN,305921033.0,4.0,2.0,0.0,1.0,1.0,2570.0,2169.0,10350.0,1990.0,2022.0,333345.5,20181116.0,315000.0,NaN,1228.003906,146.323743
max,582889.0,659993.0,3660170170020.0,613706.0,945703.4,597579.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3421170020001.0,9985.0,NaN,366017017.0,12590.0,2066.0,564.0,20102.0,4620.0,4384261.0,4384261.0,4743684000.0,9999.0,2022.0,451748055.0,20220713.0,516600000.0,NaN,118010501.853516,56043.274417
counts,582889,582889,577546,582889,582889,582889,526065,1583,577491,555999,570488,13439,50,570473,569879,569926,324055,577486,237119,35100,577491,101,577491,577491,576902,577491,577491,577491,577491,577491,577491,577491,577491,577491,577491,577491,541292,541292,577488,582889,582889
uniques,582889,582889,572473,1669,458162,490361,523273,481,35,130388,442231,458,12,3550,65,88671,70,450224,188684,29929,2,30,225,225,21869,453,438,73,47,381,20901,20159,49403,123,1,317798,7017,19868,572265,424009,582514
missing,0,0,5343,0,0,0,56824,581306,5398,26890,12401,569450,582839,12416,13010,12963,258834,5403,345770,547789,5398,582788,5398,5398,5987,5398,5398,5398,5398,5398,5398,5398,5398,5398,5398,5398,41597,41597,5401,0,0
missing_perc,0%,0%,0.92%,0%,0%,0%,9.75%,99.73%,0.93%,4.61%,2.13%,97.69%,99.99%,2.13%,2.23%,2.22%,44.41%,0.93%,59.32%,93.98%,0.93%,99.98%,0.93%,0.93%,1.03%,0.93%,0.93%,0.93%,0.93%,0.93%,0.93%,0.93%,0.93%,0.93%,0.93%,0.93%,7.14%,7.14%,0.93%,0%,0%
types,numeric,numeric,numeric,numeric,numeric,numeric,categorical,categorical,categorical,categorical,categorical,categorical,categorical,categorical,categorical,categorical,categorical,categorical,categorical,categorical,bool,numeric,numeric,categorical,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,constant,numeric,numeric,numeric,categorical,numeric,numeric

In [17]:
## Let's check whether we can find the unique identifier FOLIO from an arbitrary search using loopnet.com
## url: https://www.loopnet.com/Listing/8163-NE-2nd-Ave-Miami-FL/24995552/

## We want to check a commercial property at 8163 ne 2nd ave with folio number: 01-3207-014-0120.
## Here, we need to omit any leading 0's




test_folio_1 = 132070140120
test_commercial_1 = result[result['FOLIO'] == test_folio_1]
test_commercial_1

,OBJECTID,PID,FOLIO,TTRRSS,X_COORD,Y_COORD,TRUE_SITE_ADDR,TRUE_SITE_UNIT,TRUE_SITE_CITY,TRUE_SITE_ZIP_CODE,TRUE_MAILING_ADDR1,TRUE_MAILING_ADDR2,TRUE_MAILING_ADDR3,TRUE_MAILING_CITY,TRUE_MAILING_STATE,TRUE_MAILING_ZIP_CODE,TRUE_MAILING_COUNTRY,TRUE_OWNER1,TRUE_OWNER2,TRUE_OWNER3,CONDO_FLAG,PARENT_FOLIO,DOR_CODE_CUR,DOR_DESC,SUBDIVISION,BEDROOM_COUNT,BATHROOM_COUNT,HALF_BATHROOM_COUNT,FLOOR_COUNT,UNIT_COUNT,BUILDING_ACTUAL_AREA,BUILDING_HEATED_AREA,LOT_SIZE,YEAR_BUILT,ASSESSMENT_YEAR_CUR,ASSESSED_VAL_CUR,DOS_1,PRICE_1,LEGAL,Shape__Area,Shape__Length
27970,27971,110543,1.320701e+11,534207,921689.1,551851.6,8163 NE 2 AVE,NaN,Miami,33138-4420,3330 NE 190 ST 2614,NaN,NaN,AVENTURA,FL,33180,USA,8163 URBAN WAREHOUSE LLC,NaN,NaN,N,NaN,1111.0,STORE : RETAIL OUTLET,13207014.0,0.0,0.0,0.0,2.0,0.0,14911.0,14911.0,9370.0,1947.0,2022.0,1400000.0,20190905.0,1900000.0,VIRGINIA PARK PB 10-43 LOT 20 & 21 LESS S36FT ...,1121.308594,133.961157

In [19]:
## Let's do another test on the current building that I'm living in, just to make sure everything checks out


## We want to check a residential building at 4250 Biscayne Blvd with folio number: 01-3219-051-0010.
## Here, we need to omit any leading 0's
## 13219051001

test_folio_2_range_1 = 132190510000
test_folio_2_range_2 = 132190520000
test_folio_2_parcel = 132190510840
test_apartment_1_parcels = result[(result['FOLIO'] > test_folio_2_range_1) & (result['FOLIO'] < test_folio_2_range_2)]
test_apartment_1_parcels

,OBJECTID,PID,FOLIO,TTRRSS,X_COORD,Y_COORD,TRUE_SITE_ADDR,TRUE_SITE_UNIT,TRUE_SITE_CITY,TRUE_SITE_ZIP_CODE,TRUE_MAILING_ADDR1,TRUE_MAILING_ADDR2,TRUE_MAILING_ADDR3,TRUE_MAILING_CITY,TRUE_MAILING_STATE,TRUE_MAILING_ZIP_CODE,TRUE_MAILING_COUNTRY,TRUE_OWNER1,TRUE_OWNER2,TRUE_OWNER3,CONDO_FLAG,PARENT_FOLIO,DOR_CODE_CUR,DOR_DESC,SUBDIVISION,BEDROOM_COUNT,BATHROOM_COUNT,HALF_BATHROOM_COUNT,FLOOR_COUNT,UNIT_COUNT,BUILDING_ACTUAL_AREA,BUILDING_HEATED_AREA,LOT_SIZE,YEAR_BUILT,ASSESSMENT_YEAR_CUR,ASSESSED_VAL_CUR,DOS_1,PRICE_1,LEGAL,Shape__Area,Shape__Length
31845,31846,117475,1.321905e+11,534219,922886.5,539493.1,4250 BISCAYNE BLVD,NaN,Miami,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,REFERENCE ONLY,NaN,NaN,N,NaN,0.0,REFERENCE FOLIO,13219051.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2022.0,0.0,NaN,NaN,4250 BISCAYNE BOULEVARD CONDO AAA PROPERTY PB ...,4553.746094,309.527454

In [25]:
## Let's check to see if there's any other parcel's that have the same relative composition (first 9 numbers are the same)

test_apartment_1_parcel = result[result['FOLIO'] == test_folio_2_parcel]
print(test_apartment_1_parcel)

Empty DataFrame
Columns: [OBJECTID, PID, FOLIO, TTRRSS, X_COORD, Y_COORD, TRUE_SITE_ADDR, TRUE_SITE_UNIT, TRUE_SITE_CITY, TRUE_SITE_ZIP_CODE, TRUE_MAILING_ADDR1, TRUE_MAILING_ADDR2, TRUE_MAILING_ADDR3, TRUE_MAILING_CITY, TRUE_MAILING_STATE, TRUE_MAILING_ZIP_CODE, TRUE_MAILING_COUNTRY, TRUE_OWNER1, TRUE_OWNER2, TRUE_OWNER3, CONDO_FLAG, PARENT_FOLIO, DOR_CODE_CUR, DOR_DESC, SUBDIVISION, BEDROOM_COUNT, BATHROOM_COUNT, HALF_BATHROOM_COUNT, FLOOR_COUNT, UNIT_COUNT, BUILDING_ACTUAL_AREA, BUILDING_HEATED_AREA, LOT_SIZE, YEAR_BUILT, ASSESSMENT_YEAR_CUR, ASSESSED_VAL_CUR, DOS_1, PRICE_1, LEGAL, Shape__Area, Shape__Length]
Index: []

In [26]:
## Let's check to see if there's any other parcel's at this address

address_1 = '4250 BISCAYNE BLVD'
test_apartment_1_addresses = result[result['TRUE_SITE_ADDR'] == address_1]
print(test_apartment_1_addresses)

if (test_apartment_1_addresses.shape[0] == 1): 
    print('Only one')

## Unforutnately, it seems that our apartment data from this dataset is relatively useless, as it only specifies
## the reference

       OBJECTID     PID         FOLIO  TTRRSS   X_COORD   Y_COORD  \
31845     31846  117475  1.321905e+11  534219  922886.5  539493.1

           TRUE_SITE_ADDR TRUE_SITE_UNIT TRUE_SITE_CITY TRUE_SITE_ZIP_CODE  \
31845  4250 BISCAYNE BLVD            NaN          Miami                NaN

      TRUE_MAILING_ADDR1 TRUE_MAILING_ADDR2 TRUE_MAILING_ADDR3  \
31845                NaN                NaN                NaN

      TRUE_MAILING_CITY TRUE_MAILING_STATE TRUE_MAILING_ZIP_CODE  \
31845               NaN                NaN                   NaN

      TRUE_MAILING_COUNTRY     TRUE_OWNER1 TRUE_OWNER2 TRUE_OWNER3 CONDO_FLAG  \
31845                  NaN  REFERENCE ONLY         NaN         NaN          N

       PARENT_FOLIO  DOR_CODE_CUR         DOR_DESC  SUBDIVISION  \
31845           NaN           0.0  REFERENCE FOLIO   13219051.0

       BEDROOM_COUNT  BATHROOM_COUNT  HALF_BATHROOM_COUNT  FLOOR_COUNT  \
31845            0.0             0.0                  0.0          0.0

       UNIT_COUNT  BUILDING_ACTUAL_AREA  BUILDING_HEATED_AREA  LOT_SIZE  \
31845         0.0                   0.0                   0.0       0.0

       YEAR_BUILT  ASSESSMENT_YEAR_CUR  ASSESSED_VAL_CUR  DOS_1  PRICE_1  \
31845         0.0               2022.0               0.0    NaN      NaN

                                                   LEGAL  Shape__Area  \
31845  4250 BISCAYNE BOULEVARD CONDO AAA PROPERTY PB ...  4553.746094

       Shape__Length
31845     309.527454
Only one

In [27]:
## Let's check the distribution of unit's in our parcel's pertaining to multi-family properties with more than 4 units

multifamily = result[result['DOR_DESC'].str.find("MULTIFAMILY") > -1]
multifamily.describe()
##result[result['DOR_DESC'] == ]

,OBJECTID,PID,FOLIO,TTRRSS,X_COORD,Y_COORD,PARENT_FOLIO,DOR_CODE_CUR,SUBDIVISION,BEDROOM_COUNT,BATHROOM_COUNT,HALF_BATHROOM_COUNT,FLOOR_COUNT,UNIT_COUNT,BUILDING_ACTUAL_AREA,BUILDING_HEATED_AREA,LOT_SIZE,YEAR_BUILT,ASSESSMENT_YEAR_CUR,ASSESSED_VAL_CUR,DOS_1,PRICE_1,Shape__Area,Shape__Length
count,35329.000000,35329.000000,3.532900e+04,35329.000000,35329.000000,35329.000000,0.0,35329.000000,3.530400e+04,35329.000000,35329.000000,35329.000000,35329.000000,35329.000000,3.532900e+04,3.532900e+04,3.532900e+04,35329.000000,35329.0,3.532900e+04,3.455200e+04,3.455200e+04,35329.000000,35329.000000
mean,126078.686546,282431.920236,1.015559e+12,538783.413938,903820.486159,530261.456107,NaN,766.748592,1.015051e+08,11.667072,9.113023,0.164284,1.387189,7.701945,7.714002e+03,8.001652e+03,1.399219e+04,1959.305471,2022.0,9.040254e+05,2.009937e+07,9.342810e+05,1584.240528,144.222533
std,122621.814653,167640.900509,1.239212e+12,10168.715252,22805.764998,31778.261853,NaN,362.763530,1.239029e+08,80.923876,41.201247,3.164624,1.290212,30.500989,4.217871e+04,4.229270e+04,4.886640e+04,20.481225,0.0,4.652595e+06,1.101724e+05,6.764059e+06,5581.277789,106.624258
min,64.000000,10.000000,1.010104e+11,514132.000000,801721.100000,388364.000000,NaN,303.000000,1.010104e+07,0.000000,0.000000,0.000000,0.000000,0.000000,4.320000e+02,0.000000e+00,0.000000e+00,1901.000000,2022.0,7.937000e+03,1.962013e+07,0.000000e+00,29.632812,21.830944
25%,37163.000000,136472.000000,1.410201e+11,534113.000000,895496.600000,519848.100000,NaN,802.000000,1.410200e+07,4.000000,2.000000,0.000000,1.000000,2.000000,1.819000e+03,1.723000e+03,6.000000e+03,1947.000000,2022.0,2.211200e+05,2.004030e+07,1.000000e+02,676.005859,112.721035
50%,68293.000000,279375.000000,2.320201e+11,534207.000000,907641.300000,530222.300000,NaN,802.000000,2.320201e+07,4.000000,3.000000,0.000000,1.000000,2.000000,2.290000e+03,2.250000e+03,7.150000e+03,1957.000000,2022.0,3.170800e+05,2.014012e+07,7.750000e+04,816.248047,125.706038
75%,202453.000000,422784.000000,2.540060e+12,544106.000000,916987.600000,549597.300000,NaN,802.000000,2.540060e+08,6.000000,4.000000,0.000000,2.000000,4.000000,3.000000e+03,3.220000e+03,9.153000e+03,1971.000000,2022.0,4.689180e+05,2.018122e+07,3.300000e+05,1047.089844,137.968794
max,579712.000000,659196.000000,3.660100e+12,583809.000000,945553.300000,597282.200000,NaN,8903.000000,3.660100e+08,12590.000000,2066.000000,248.000000,50.000000,1227.000000,1.680493e+06,1.680493e+06,2.285158e+06,2021.000000,2022.0,1.441311e+08,2.022031e+07,2.550000e+08,265927.533203,3290.104395

In [32]:
## We can see here, we have more than one multi-family building with 0 units
plt.hist(multifamily['UNIT_COUNT'], range = (0, 50))

(array([28786.,  2936.,  1284.,   489.,   416.,   141.,   159.,    96.,
          100.,    94.]),
 array([ 0.,  5., 10., 15., 20., 25., 30., 35., 40., 45., 50.]),
 <a list of 10 Patch objects>)

In [33]:
## We have about 48 multifamily properites with 0 units.... Not very reliable
multifamily[multifamily['UNIT_COUNT'] == 0].shape[0]

48

In [34]:
## Let's check the address of my old house, by checking the TRUE_SITE_ADDR 

address_2 = "12371 SW 97 TER"
result[result['TRUE_SITE_ADDR'] == address_2]

## A lot of memories come back, seeing old pictures of my house

,OBJECTID,PID,FOLIO,TTRRSS,X_COORD,Y_COORD,TRUE_SITE_ADDR,TRUE_SITE_UNIT,TRUE_SITE_CITY,TRUE_SITE_ZIP_CODE,TRUE_MAILING_ADDR1,TRUE_MAILING_ADDR2,TRUE_MAILING_ADDR3,TRUE_MAILING_CITY,TRUE_MAILING_STATE,TRUE_MAILING_ZIP_CODE,TRUE_MAILING_COUNTRY,TRUE_OWNER1,TRUE_OWNER2,TRUE_OWNER3,CONDO_FLAG,PARENT_FOLIO,DOR_CODE_CUR,DOR_DESC,SUBDIVISION,BEDROOM_COUNT,BATHROOM_COUNT,HALF_BATHROOM_COUNT,FLOOR_COUNT,UNIT_COUNT,BUILDING_ACTUAL_AREA,BUILDING_HEATED_AREA,LOT_SIZE,YEAR_BUILT,ASSESSMENT_YEAR_CUR,ASSESSED_VAL_CUR,DOS_1,PRICE_1,LEGAL,Shape__Area,Shape__Length
410036,410037,537676,3.059010e+12,553901,855178.9,488960.4,12371 SW 97 TER,NaN,Unincorporated County,33186-2532,12371 SW 97 TER,NaN,NaN,MIAMI,FL,33186,USA,JOHN ANGEL MATTHEW IBARRA,CLAUDIA INES RODRIGUEZ,NaN,N,NaN,101.0,RESIDENTIAL - SINGLE FAMILY : 1 UNIT,305901023.0,4.0,4.0,0.0,1.0,1.0,4418.0,2730.0,15006.0,1998.0,2022.0,582768.0,20191218.0,740000.0,CLASCA-ROBAINA SUB PB 118-23 LOT 11 BLK 2 LOT ...,1664.246094,163.191769

In [35]:
## Checking to see what kinds of information is held for Single Family 
## Residential-Total Value

code104 = DataFrameSummary(result[result['DOR_CODE_CUR'] == 104])
code104["BATHROOM_COUNT"]

mean                                                                 2.411448
std                                                                  0.709482
variance                                                             0.503365
min                                                                       0.0
max                                                                       9.0
mode                                                                      2.0
5%                                                                        2.0
25%                                                                       2.0
50%                                                                       2.0
75%                                                                       3.0
95%                                                                       4.0
iqr                                                                       1.0
kurtosis                                                             3.138493
skewness                                                             1.572147
sum                                                                   51482.0
mad                                                                  0.581572
cv                                                                   0.294214
zeros_num                                                                   7
zeros_perc                                                              0.03%
deviating_of_mean                                                         221
deviating_of_mean_perc                                                  1.04%
deviating_of_median                                                      1893
deviating_of_median_perc                                                8.87%
top_correlations            BUILDING_HEATED_AREA: 77.31%, BEDROOM_COUNT: 6...
counts                                                                  21349
uniques                                                                    10
missing                                                                     0
missing_perc                                                               0%
types                                                                 numeric
Name: BATHROOM_COUNT, dtype: object

In [36]:
result.describe(include = 'all')

,OBJECTID,PID,FOLIO,TTRRSS,X_COORD,Y_COORD,TRUE_SITE_ADDR,TRUE_SITE_UNIT,TRUE_SITE_CITY,TRUE_SITE_ZIP_CODE,TRUE_MAILING_ADDR1,TRUE_MAILING_ADDR2,TRUE_MAILING_ADDR3,TRUE_MAILING_CITY,TRUE_MAILING_STATE,TRUE_MAILING_ZIP_CODE,TRUE_MAILING_COUNTRY,TRUE_OWNER1,TRUE_OWNER2,TRUE_OWNER3,CONDO_FLAG,PARENT_FOLIO,DOR_CODE_CUR,DOR_DESC,SUBDIVISION,BEDROOM_COUNT,BATHROOM_COUNT,HALF_BATHROOM_COUNT,FLOOR_COUNT,UNIT_COUNT,BUILDING_ACTUAL_AREA,BUILDING_HEATED_AREA,LOT_SIZE,YEAR_BUILT,ASSESSMENT_YEAR_CUR,ASSESSED_VAL_CUR,DOS_1,PRICE_1,LEGAL,Shape__Area,Shape__Length
count,582889.000000,582889.000000,5.775460e+05,582889.000000,582889.000000,582889.000000,526065,1583,577491,555999,570488,13439,50,570473,569879,569926,324055,577486,237119,35100,577491,1.010000e+02,577491.000000,577491,5.769020e+05,577491.000000,577491.000000,577491.000000,577491.000000,577491.000000,5.774910e+05,5.774910e+05,5.774910e+05,577491.000000,577491.0,5.774910e+05,5.412920e+05,5.412920e+05,577488,5.828890e+05,582889.000000
unique,NaN,NaN,NaN,NaN,NaN,NaN,523273,481,35,130388,442231,458,12,3550,65,88671,70,450224,188684,29929,2,NaN,NaN,225,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,572265,NaN,NaN
top,NaN,NaN,NaN,NaN,NaN,NaN,3501 RICKENBACKER CSWY,A,Unincorporated County,33178-0000,2975 HORSESHOE DR SOUTH,SUITE 800,** CONFIDENTIAL **,MIAMI,FL,33186,USA,REFERENCE ONLY,EVERGLADES NATL PARK,STATE 2 LLC,N,NaN,NaN,RESIDENTIAL - SINGLE FAMILY : 1 UNIT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MANDARIN LAKES PB 163-40 T-21633 ALL TRACTS LA...,NaN,NaN
freq,NaN,NaN,NaN,NaN,NaN,NaN,45,92,297545,4302,11659,11651,30,322890,553225,11886,323172,6881,6985,227,577390,NaN,NaN,316360,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,87,NaN,NaN
mean,291445.000000,300316.601344,2.235410e+12,542848.072245,877507.865002,514033.625700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.977439e+12,952.730785,NaN,2.235657e+08,3.333602,2.272760,0.117697,1.202026,1.424244,3.734543e+03,3.429380e+03,2.126237e+05,1734.251860,2022.0,5.547764e+05,2.009173e+07,5.230142e+05,NaN,1.038530e+04,192.054330
std,168265.704866,175568.069419,1.262499e+12,15423.111114,34033.632947,50473.093224,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.314177e+12,2259.453606,NaN,1.262552e+08,21.812396,12.370458,1.284018,45.819677,12.287100,3.058075e+04,3.011407e+04,1.100871e+07,670.501893,0.0,4.942663e+06,1.149526e+05,3.809344e+06,NaN,4.874475e+05,473.993822
min,1.000000,1.000000,0.000000e+00,514131.000000,698060.100000,293562.200000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.411502e+11,0.000000,NaN,1.010000e+07,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,2022.0,0.000000e+00,1.923032e+07,0.000000e+00,NaN,6.699219e-01,6.448753
25%,145723.000000,148968.000000,7.220703e+11,534012.000000,852810.200000,480836.400000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.300205e+11,101.000000,NaN,7.220703e+07,2.000000,1.000000,0.000000,1.000000,1.000000,1.349000e+03,1.197000e+03,5.000000e+03,1950.000000,2022.0,1.295710e+05,2.002110e+07,1.000000e+02,NaN,5.843770e+02,103.755297
50%,291445.000000,298636.000000,3.040120e+12,543934.000000,876697.900000,516505.400000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.040181e+12,101.000000,NaN,3.040120e+08,3.000000,2.000000,0.000000,1.000000,1.000000,1.892000e+03,1.620000e+03,7.500000e+03,1966.000000,2022.0,2.170050e+05,2.013080e+07,1.200000e+05,NaN,8.531758e+02,121.293998
75%,437167.000000,447941.000000,3.059210e+12,553923.000000,904433.000000,555320.700000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.122140e+12,410.000000,NaN,3.059210e+08,4.000000,2.000000,0.000000,1.000000,1.000000,2.570000e+03,2.169000e+03,1.035000e+04,1990.000000,2022.0,3.333455e+05,2.018112e+07,3.150000e+05,NaN,1.228004e+03,146.323743
max,582889.000000,659993.000000,3.660170e+12,613706.000000,945703.400000,597579.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.421170e+12,9985.000000,NaN,3.660170e+08,12590.000000,2066.000000,564.000000,20102.000000,4620.000000,4.384261e+06,4.384261e+06,4.743684e+09,9999.000000,2022.0,4.517481e+08,2.022071e+07,5.166000e+08,NaN,1.180105e+08,56043.274417

In [37]:
result.columns

Index(['OBJECTID', 'PID', 'FOLIO', 'TTRRSS', 'X_COORD', 'Y_COORD',
       'TRUE_SITE_ADDR', 'TRUE_SITE_UNIT', 'TRUE_SITE_CITY',
       'TRUE_SITE_ZIP_CODE', 'TRUE_MAILING_ADDR1', 'TRUE_MAILING_ADDR2',
       'TRUE_MAILING_ADDR3', 'TRUE_MAILING_CITY', 'TRUE_MAILING_STATE',
       'TRUE_MAILING_ZIP_CODE', 'TRUE_MAILING_COUNTRY', 'TRUE_OWNER1',
       'TRUE_OWNER2', 'TRUE_OWNER3', 'CONDO_FLAG', 'PARENT_FOLIO',
       'DOR_CODE_CUR', 'DOR_DESC', 'SUBDIVISION', 'BEDROOM_COUNT',
       'BATHROOM_COUNT', 'HALF_BATHROOM_COUNT', 'FLOOR_COUNT', 'UNIT_COUNT',
       'BUILDING_ACTUAL_AREA', 'BUILDING_HEATED_AREA', 'LOT_SIZE',
       'YEAR_BUILT', 'ASSESSMENT_YEAR_CUR', 'ASSESSED_VAL_CUR', 'DOS_1',
       'PRICE_1', 'LEGAL', 'Shape__Area', 'Shape__Length'],
      dtype='object')

In [38]:
## Let's find the Classification's (Residential, Commercial....) that are relevant to our study

result['DOR_DESC']

result.describe()

types = []
to_drop = []
for prop in result['DOR_DESC'].unique():
    
    if isinstance(prop, (int,float)):
        to_drop.append(prop)
        continue;
    
    elif prop.find('RESIDENTIAL') != -1:
        types.append(prop)
        
    else:
        to_drop.append(prop)

#print(f'types: {types}')
#print()
#print(f'to_drop: {to_drop}')

##result = result['DOR_DESC' != ]

In [39]:
## Here are the list of supposed DOR_DESC tags that are residential

types = sorted(types)
for a in types: print (a)

COUNTY : RESIDENTIAL - SINGLE FAMILY
IMPR AGRI - NOT HOMESITES : MIXED USE - RESIDENTIAL
IMPR AGRI : RESIDENTIAL - SINGLE FAMILY
MISCELLANEOUS - RESIDENTIAL : CAMPSITE
MISCELLANEOUS - RESIDENTIAL : MIXED USE - RESIDENTIAL
MIXED USE-STORE/RESIDENTIAL : MIXED USE - COMMERCIAL
MIXED USE-STORE/RESIDENTIAL : MIXED USE - RESIDENTIAL
MIXED USE-STORE/RESIDENTIAL : RETAIL OUTLET
PARKING GARAGE - RESIDENTIAL CONDO
RESIDENTIAL - SINGLE FAMILY : 1 UNIT
RESIDENTIAL - SINGLE FAMILY : ADDITIONAL LIVING QUARTERS
RESIDENTIAL - SINGLE FAMILY : CLUSTER HOME
RESIDENTIAL - SINGLE FAMILY : RESIDENTIAL - TOTAL VALUE
RESIDENTIAL - TOTAL VALUE : COMMERCIAL - TOTAL VALUE
RESIDENTIAL - TOTAL VALUE : CONDOMINIUM - RESIDENTIAL
RESIDENTIAL - TOTAL VALUE : DOCK - TOTAL VALUE
RESIDENTIAL - TOTAL VALUE : TOWNHOUSE
RESIDENTIAL - TOTAL VALUE : TOWNHOUSE W/ ADDITIONAL LIVING QUARTERS
VACANT RESIDENTIAL : CLUSTER HOME
VACANT RESIDENTIAL : EXTRA FEA OTHER THAN PARKING
VACANT RESIDENTIAL : RESIDENTIAL - TOTAL VALUE
VACANT RESIDENTIAL : VACANT LAND
VACANT RESIDENTIAL: CONDO

In [40]:
result['DOR_DESC'].isin(types)

0         False
1         False
2         False
3         False
4         False
          ...
582884     True
582885     True
582886    False
582887     True
582888     True
Name: DOR_DESC, Length: 582889, dtype: bool

In [41]:
residential = result.loc[result['DOR_DESC'].isin(types)]
residential

,OBJECTID,PID,FOLIO,TTRRSS,X_COORD,Y_COORD,TRUE_SITE_ADDR,TRUE_SITE_UNIT,TRUE_SITE_CITY,TRUE_SITE_ZIP_CODE,TRUE_MAILING_ADDR1,TRUE_MAILING_ADDR2,TRUE_MAILING_ADDR3,TRUE_MAILING_CITY,TRUE_MAILING_STATE,TRUE_MAILING_ZIP_CODE,TRUE_MAILING_COUNTRY,TRUE_OWNER1,TRUE_OWNER2,TRUE_OWNER3,CONDO_FLAG,PARENT_FOLIO,DOR_CODE_CUR,DOR_DESC,SUBDIVISION,BEDROOM_COUNT,BATHROOM_COUNT,HALF_BATHROOM_COUNT,FLOOR_COUNT,UNIT_COUNT,BUILDING_ACTUAL_AREA,BUILDING_HEATED_AREA,LOT_SIZE,YEAR_BUILT,ASSESSMENT_YEAR_CUR,ASSESSED_VAL_CUR,DOS_1,PRICE_1,LEGAL,Shape__Area,Shape__Length
27,28,269265,1.010000e+11,534126,914202.3,532050.4,1250 NW 21 ST,NaN,Miami,33142-7753,401 WILSHIRE BLVD #1070,NaN,NaN,SANTA MONICA,CA,90401,USA,SANTA CLARA APARTMENTS I LLC,NaN,NaN,N,NaN,101.0,RESIDENTIAL - SINGLE FAMILY : 1 UNIT,10100000.0,0.0,352.0,0.0,9.0,208.0,169280.0,169280.0,0.0,2003.0,2022.0,5900000.0,NaN,NaN,SANTA CLARA STATION PB 126-42 PORT OF TRACT A ...,163.781250,51.295338
59,60,357304,1.010104e+11,534136,919413.8,528080.9,1034 NW 3 AVE,NaN,Miami,33136-3308,5080A BISCAYNE BLVD,NaN,NaN,MIAMI,FL,33137-3218,NaN,LION 1034 LLC,NaN,NaN,N,NaN,1209.0,MIXED USE-STORE/RESIDENTIAL : MIXED USE - RESI...,10101040.0,7.0,7.0,0.0,2.0,7.0,7450.0,7450.0,5000.0,1950.0,2022.0,666193.0,20160303.0,700000.0,MIAMI NORTH PB B-41 S50FT OF N100FT LOTS 1 & 2...,553.693359,99.129631
69,70,480624,1.010105e+11,534136,919913.8,528141.7,212 NW 11 ST,NaN,Miami,33136-0000,119 NW 47 TER,NaN,NaN,MIAMI,FL,33127,USA,COMPLEX TRANSACTIONS LLC,NaN,NaN,N,NaN,1209.0,MIXED USE-STORE/RESIDENTIAL : MIXED USE - RESI...,10101050.0,0.0,0.0,0.0,2.0,0.0,2551.0,2439.0,3750.0,1958.0,2022.0,414472.0,20160909.0,10000.0,MIAMI NORTH PB B-41 W25FT OF N75FT OF LOT 2 & ...,404.457031,81.626154
118,119,356990,1.010108e+11,534136,921447.4,528177.2,1035 N MIAMI AVE,NaN,Miami,33132-3514,2430 INAGUA AVE,NaN,NaN,MIAMI,FL,33133,NaN,1035 N MIA AVE LLC,NaN,NaN,N,NaN,1229.0,MIXED USE-STORE/RESIDENTIAL : MIXED USE - COMM...,10101080.0,0.0,0.0,0.0,4.0,0.0,23844.0,23844.0,5000.0,1920.0,2022.0,2062621.0,20040701.0,1630000.0,MIAMI NORTH PB B-41 N125FT OF LOT 10 BLK 18 LO...,540.683594,114.273510
203,204,517284,1.010208e+11,534136,918901.5,527668.7,410 NW 10 ST,NaN,Miami,33136-3321,605 LINCOLN RD 250,NaN,NaN,MIAMI BEACH,FL,33139,USA,A FRAME INVESTMENTS LLC,NaN,NaN,N,NaN,81.0,VACANT RESIDENTIAL : VACANT LAND,10102080.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2050.0,0.0,2022.0,32800.0,20190118.0,12400.0,MIAMI NORTH PB B-41 PORT OF LOT 1 DESC BEG SE ...,223.535156,69.572362
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
582883,582884,358871,3.660170e+12,564017,869794.7,446500.9,22219 SW 99 CT,NaN,Cutler Bay,33190-1562,22219 SW 99 CT,NaN,NaN,MIAMI,FL,33190-1562,NaN,WENDRA LAURRAINE KIRBY,NaN,NaN,N,NaN,105.0,RESIDENTIAL - SINGLE FAMILY : CLUSTER HOME,366017016.0,3.0,2.0,0.0,1.0,1.0,1407.0,1383.0,3383.0,1991.0,2022.0,91270.0,19930601.0,74000.0,LAKES BY THE BAY SEC 6 PB 135-73 LOT 29 BLK 22...,532.130859,92.317590
582884,582885,444345,3.660170e+12,564017,869791.7,446562.5,22211 SW 99 CT,NaN,Cutler Bay,33190-1562,22211 SW 99 CT,NaN,NaN,CUTLER BAY,FL,33190,USA,VENTURA GUANCH JR,MERCEDES GUANCH,NaN,N,NaN,105.0,RESIDENTIAL - SINGLE FAMILY : CLUSTER HOME,366017016.0,3.0,2.0,0.0,1.0,1.0,1407.0,1383.0,3385.0,1991.0,2022.0,125151.0,20160907.0,231500.0,LAKES BY THE BAY SEC 6 PB 135-73 LOT 30 BLK 22...,412.681641,83.054289
582885,582886,287842,3.660170e+12,564017,869793.2,446625.3,22203 SW 99 CT,NaN,Cutler Bay,33190-1562,22203 SW 99 CT,NaN,NaN,CUTLER BAY,FL,33190,USA,RANDALL UJUETA JTRS,BRITNEY GOMEZ JTRS,NaN,N,NaN,105.0,RESIDENTIAL - SINGLE FAMILY : CLUSTER HOME,366017016.0,3.0,2.0,0.0,1.0,1.0,1684.0,1412.0,6786.0,1991.0,2022.0,165827.0,20141226.0,69500.0,LAKES BY THE BAY SEC 6 PB 135-73 LOT 31 BLK 22...,589.111328,106.894303
582887,582888,290881,3.660170e+12,564017,869022.3,446397.7,10051 SW 223 ST,NaN,Cutler Bay,33190-1575,10051 SW 223 ST,NaN,NaN,CUTLER BAY,FL,33190,USA,TESHICA ANTOINETTE BECKFORD TRS,TESHICA A BECKFORD REV TR,NaN,N,NaN,105.0,RESIDENTIAL - SINGLE FAMILY : CLUSTER HOME,366017017.0,3.0,2.0,0.0,2.0,1.0,1232.0,1558.0,3349.0,1990.0,2022.0,107511.0,20181004.0,100.0,LAKES BY THE BAY SEC 6 AMEND PB 138-15 LOT 32A...,426.396484,91.256223
582888,582889,10624,3.660170e+12,564017,869029.6,446449.6,10059 SW 223 ST,NaN,Cutler Bay,33190-1575,10059 SW 223 ST,NaN,NaN,CUTLER BAY,FL,33190,USA,HORACE CALHOUN,WANDA CALHOUN,NaN,N,NaN,105.0,RESIDENTIAL - SINGLE FAMILY : CLUSTER HOME,366017017.0,3.0,2.0,0.0,1.0,1.0,1682.0,1278.0,5613.0,1990.0,2022.0,196326.0,20180825.0,100.0,NaN,587.593750,111.702605

In [42]:
## Residential - Single Family: 1 Unit Houses make up more than half of all properties in Miami-Dade County

residential['DOR_DESC'].value_counts()

RESIDENTIAL - SINGLE FAMILY : 1 UNIT                                   316360
RESIDENTIAL - TOTAL VALUE : TOWNHOUSE                                   58592
RESIDENTIAL - SINGLE FAMILY : CLUSTER HOME                              42976
RESIDENTIAL - SINGLE FAMILY : RESIDENTIAL - TOTAL VALUE                 21349
VACANT RESIDENTIAL : VACANT LAND                                        10177
IMPR AGRI : RESIDENTIAL - SINGLE FAMILY                                  1930
VACANT RESIDENTIAL : EXTRA FEA OTHER THAN PARKING                        1482
RESIDENTIAL - SINGLE FAMILY : ADDITIONAL LIVING QUARTERS                  919
MIXED USE-STORE/RESIDENTIAL : MIXED USE - RESIDENTIAL                     892
MIXED USE-STORE/RESIDENTIAL : MIXED USE - COMMERCIAL                      354
RESIDENTIAL - TOTAL VALUE : TOWNHOUSE W/ ADDITIONAL LIVING QUARTERS       303
MIXED USE-STORE/RESIDENTIAL : RETAIL OUTLET                               193
COUNTY : RESIDENTIAL - SINGLE FAMILY                                      113
MISCELLANEOUS - RESIDENTIAL : MIXED USE - RESIDENTIAL                      89
VACANT RESIDENTIAL : CLUSTER HOME                                          73
RESIDENTIAL - TOTAL VALUE : CONDOMINIUM - RESIDENTIAL                      58
VACANT RESIDENTIAL : RESIDENTIAL - TOTAL VALUE                             33
RESIDENTIAL - TOTAL VALUE : DOCK - TOTAL VALUE                             26
IMPR AGRI - NOT HOMESITES : MIXED USE - RESIDENTIAL                        14
MISCELLANEOUS - RESIDENTIAL : CAMPSITE                                     10
VACANT RESIDENTIAL: CONDO                                                   4
PARKING GARAGE - RESIDENTIAL CONDO                                          1
RESIDENTIAL - TOTAL VALUE : COMMERCIAL - TOTAL VALUE                        1
Name: DOR_DESC, dtype: int64

In [81]:
## Let's go ahead and dive into our single family real-estate properties and export them into tableau!

single_family = residential[residential['DOR_DESC'] == 'RESIDENTIAL - SINGLE FAMILY : 1 UNIT']
single_family

,OBJECTID,PID,FOLIO,TTRRSS,X_COORD,Y_COORD,TRUE_SITE_ADDR,TRUE_SITE_UNIT,TRUE_SITE_CITY,TRUE_SITE_ZIP_CODE,TRUE_MAILING_ADDR1,TRUE_MAILING_ADDR2,TRUE_MAILING_ADDR3,TRUE_MAILING_CITY,TRUE_MAILING_STATE,TRUE_MAILING_ZIP_CODE,TRUE_MAILING_COUNTRY,TRUE_OWNER1,TRUE_OWNER2,TRUE_OWNER3,CONDO_FLAG,PARENT_FOLIO,DOR_CODE_CUR,DOR_DESC,SUBDIVISION,BEDROOM_COUNT,BATHROOM_COUNT,HALF_BATHROOM_COUNT,FLOOR_COUNT,UNIT_COUNT,BUILDING_ACTUAL_AREA,BUILDING_HEATED_AREA,LOT_SIZE,YEAR_BUILT,ASSESSMENT_YEAR_CUR,ASSESSED_VAL_CUR,DOS_1,PRICE_1,LEGAL,Shape__Area,Shape__Length
27,28,269265,1.010000e+11,534126,914202.3,532050.4,1250 NW 21 ST,NaN,Miami,33142-7753,401 WILSHIRE BLVD #1070,NaN,NaN,SANTA MONICA,CA,90401,USA,SANTA CLARA APARTMENTS I LLC,NaN,NaN,N,NaN,101.0,RESIDENTIAL - SINGLE FAMILY : 1 UNIT,10100000.0,0.0,352.0,0.0,9.0,208.0,169280.0,169280.0,0.0,2003.0,2022.0,5900000.0,NaN,NaN,SANTA CLARA STATION PB 126-42 PORT OF TRACT A ...,163.781250,51.295338
205,206,360730,1.010208e+11,534136,918556.0,527704.1,460 NW 10 ST,NaN,Miami,33136-3321,460 NW 10 ST,NaN,NaN,MIAMI,FL,33136-3321,NaN,WILLIE JAMES PERRY &W ALMA,NaN,NaN,N,NaN,101.0,RESIDENTIAL - SINGLE FAMILY : 1 UNIT,10102080.0,3.0,1.0,0.0,1.0,1.0,1093.0,1093.0,7500.0,1953.0,2022.0,165203.0,NaN,NaN,MIAMI NORTH PB B-41 LOT 8 BLK 28 LOT SIZE 7500...,883.316406,135.836805
206,207,148065,1.010208e+11,534136,918516.6,527726.8,464 NW 10 ST,NaN,Miami,33136-3321,175 SW 7 ST SUITE #1518,NaN,NaN,MIAMI,FL,33130,USA,SYNERGY CONSULTANTS GROUP LLC TRS,LAND TRUST SCG723,NaN,N,NaN,101.0,RESIDENTIAL - SINGLE FAMILY : 1 UNIT,10102080.0,1.0,1.0,0.0,1.0,1.0,901.0,901.0,2500.0,1925.0,2022.0,48835.0,20190724.0,60100.0,MIAMI NORTH PB B-41 N100FT OF E25FT LOT 9 BLK ...,287.648438,84.940715
249,250,556344,1.010407e+11,534136,919060.1,527008.6,733 NW 4 AVE,NaN,Miami,33136-3808,4775 COLLINS AVE # 3504,NaN,NaN,MIAMI BEACH,FL,33140,USA,J AND O PROPERTY 1 LLC,NaN,NaN,N,NaN,101.0,RESIDENTIAL - SINGLE FAMILY : 1 UNIT,10104070.0,4.0,1.0,0.0,1.0,1.0,1065.0,1065.0,2500.0,1954.0,2022.0,182948.0,20190717.0,200000.0,MIAMI NORTH PB B-41 N25FT OF S75FT OF LOTS 9 &...,271.453125,82.556798
255,256,124471,1.010407e+11,534136,919190.6,526877.5,353 NW 7 ST,NaN,Miami,33136-3815,8375 NW 15 AVE,NaN,NaN,MIAMI,FL,33147,USA,FRANKIE MARIE LEE,NaN,NaN,N,NaN,101.0,RESIDENTIAL - SINGLE FAMILY : 1 UNIT,10104070.0,4.0,2.0,1.0,2.0,1.0,1710.0,2280.0,7500.0,1940.0,2022.0,406976.0,20161103.0,0.0,MIAMI NORTH PB B-41 LOT 14 BLK 47 LOT SIZE 50....,922.111328,137.556989
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
579939,579940,413806,3.660100e+12,564010,880476.9,452199.3,20601 SW 79 CT,NaN,Cutler Bay,33189-0000,20601 SW 79 CT,NaN,NaN,CUTLER BAY,FL,33189,USA,ARIEL ARMANDO NUNEZ,VIDA C NIETO BALUJA,NaN,N,NaN,101.0,RESIDENTIAL - SINGLE FAMILY : 1 UNIT,366010035.0,5.0,5.0,0.0,2.0,1.0,4346.0,3385.0,11537.0,2019.0,2022.0,524793.0,20191216.0,602700.0,JACQUELINE GARDENS PB 164-73 T-21500 LOT 9 BLK...,1322.830078,155.214602
579940,579941,269752,3.660100e+12,564010,880507.5,452125.1,20621 SW 79 CT,NaN,Cutler Bay,33189-0000,20621 SW 79 CT,NaN,NaN,CUTLER BAY,FL,33189,USA,JORGE CEBALLOS CORDERO,YAIMA GOMEZ ACOSTA,NaN,N,NaN,101.0,RESIDENTIAL - SINGLE FAMILY : 1 UNIT,366010035.0,4.0,4.0,0.0,2.0,1.0,3583.0,2600.0,9327.0,2018.0,2022.0,365373.0,20220131.0,100.0,JACQUELINE GARDENS PB 164-73 T-21500 LOT 10 BL...,1098.792969,149.506911
579941,579942,415651,3.660100e+12,564010,880479.7,452038.3,20641 SW 79 CT,NaN,Cutler Bay,33189-0000,20641 SW 79 CT,NaN,NaN,CUTLER BAY,FL,33189,USA,ALEXIS ZAMUDIO,ORLANDO ALFONSO VANEGAS,NaN,N,NaN,101.0,RESIDENTIAL - SINGLE FAMILY : 1 UNIT,366010035.0,4.0,4.0,1.0,2.0,1.0,3682.0,2740.0,10346.0,2019.0,2022.0,425452.0,20191115.0,579900.0,JACQUELINE GARDENS PB 164-73 T-21500 LOT 11 BL...,1205.316406,147.459041
579942,579943,336106,3.660100e+12,564010,880399.1,452003.5,20661 SW 79 CT,NaN,Cutler Bay,33189-0000,20661 SW 79TH CT,NaN,NaN,CUTLER BAY,FL,33189-2183,NaN,LAZARUS L MARTIN,ROSE M MARTIN,NaN,N,NaN,101.0,RESIDENTIAL - SINGLE FAMILY : 1 UNIT,366010035.0,5.0,5.0,0.0,2.0,1.0,4346.0,3385.0,10690.0,2018.0,2022.0,395406.0,20180531.0,549900.0,JACQUELINE GARDENS PB 164-73 T-21500 LOT 12 BL...,1199.578125,163.027157
579943,579944,216039,3.660100e+12,564010,880576.6,452810.9,20340 SW 79 AVE,NaN,Cutler Bay,33189-2172,20340 SW 79 AVE,NaN,NaN,CUTLER BAY,FL,33189,USA,MELVIN TEARE,JEANNE TEARE,PETER R TEARE,N,NaN,101.0,RESIDENTIAL - SINGLE FAMILY : 1 UNIT,366010036.0,4.0,2.0,1.0,1.0,1.0,2976.0,2259.0,17268.0,2012.0,2022.0,435734.0,20181022.0,100.0,MIMOSA PB 165-50 T-22266 LOT 1 BLK 1 LOT SIZE ...,1799.093750,165.961167

In [82]:
## Let's describe our single_family  data using datatile's package

single_family_info = DataFrameSummary(single_family)
single_family_info.summary()

,OBJECTID,PID,FOLIO,TTRRSS,X_COORD,Y_COORD,TRUE_SITE_ADDR,TRUE_SITE_UNIT,TRUE_SITE_CITY,TRUE_SITE_ZIP_CODE,TRUE_MAILING_ADDR1,TRUE_MAILING_ADDR2,TRUE_MAILING_ADDR3,TRUE_MAILING_CITY,TRUE_MAILING_STATE,TRUE_MAILING_ZIP_CODE,TRUE_MAILING_COUNTRY,TRUE_OWNER1,TRUE_OWNER2,TRUE_OWNER3,CONDO_FLAG,PARENT_FOLIO,DOR_CODE_CUR,DOR_DESC,SUBDIVISION,BEDROOM_COUNT,BATHROOM_COUNT,HALF_BATHROOM_COUNT,FLOOR_COUNT,UNIT_COUNT,BUILDING_ACTUAL_AREA,BUILDING_HEATED_AREA,LOT_SIZE,YEAR_BUILT,ASSESSMENT_YEAR_CUR,ASSESSED_VAL_CUR,DOS_1,PRICE_1,LEGAL,Shape__Area,Shape__Length
count,316360.0,316360.0,316360.0,316360.0,316360.0,316360.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,316360.0,NaN,316269.0,316360.0,316360.0,316360.0,316360.0,316360.0,316360.0,316360.0,316360.0,316360.0,316360.0,316360.0,310277.0,310277.0,NaN,316360.0,316360.0
mean,281517.629052,286961.393087,2195419944270.006592,540643.25232,884933.464494,521334.043413,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,101.0,NaN,219551428.328603,3.213077,1.99359,0.096782,1.224646,1.006132,2281.02941,1899.148995,10488.731792,1967.350654,2022.0,337465.027987,20085539.341824,262425.293383,NaN,1185.813859,135.648988
std,164470.902274,169344.639175,1270004481138.133545,14307.639936,28441.27056,46754.762114,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,126997752.388679,0.877708,1.116576,0.397508,50.538921,0.375842,1270.206231,1048.818709,52003.950125,28.96781,0.0,710656.900556,117828.172419,869375.088319,NaN,1567.411631,50.329065
min,28.0,3.0,101000000026.0,514132.0,800798.9,386790.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,101.0,NaN,10100000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1901.0,2022.0,11763.0,19270401.0,0.0,NaN,7.6875,15.160575
25%,136165.75,139106.25,621260162207.5,524219.0,864646.075,489954.95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,101.0,NaN,62126016.0,3.0,1.0,0.0,1.0,1.0,1560.0,1324.0,6512.0,1953.0,2022.0,143642.5,20010901.0,100.0,NaN,735.379883,113.53418
50%,274379.5,285542.0,3032060280155.0,543928.0,886566.3,519163.35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,101.0,NaN,303206028.0,3.0,2.0,0.0,1.0,1.0,2002.0,1673.0,7875.0,1961.0,2022.0,219623.0,20121205.0,105000.0,NaN,899.296875,123.422789
75%,422770.25,428337.0,3059090400142.5,553909.0,907461.225,561718.875,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,101.0,NaN,305909040.0,4.0,2.0,0.0,1.0,1.0,2632.0,2158.0,10088.0,1981.0,2022.0,332432.0,20180925.0,298000.0,NaN,1159.493652,140.547298
max,579944.0,659993.0,3660100360010.0,583909.0,945682.2,597544.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,101.0,NaN,366010036.0,32.0,352.0,100.0,20101.0,208.0,169280.0,169280.0,27872098.0,9999.0,2022.0,46342551.0,20220713.0,88000000.0,NaN,250980.779297,2137.004227
counts,316360,316360,316360,316360,316360,316360,316346,90,316360,314311,316360,254,23,316355,316170,316188,174115,316360,131064,22155,316360,0,316360,316360,316269,316360,316360,316360,316360,316360,316360,316360,316360,316360,316360,316360,310277,310277,316360,316360,316360
uniques,316360,316360,316269,476,271738,283265,316123,35,35,81457,292763,122,7,2076,61,64528,46,287492,123543,20852,1,0,1,1,8239,18,25,8,13,5,8642,7527,29468,119,1,227324,6299,11562,316171,244740,316337
missing,0,0,0,0,0,0,14,316270,0,2049,0,316106,316337,5,190,172,142245,0,185296,294205,0,316360,0,0,91,0,0,0,0,0,0,0,0,0,0,0,6083,6083,0,0,0
missing_perc,0%,0%,0%,0%,0%,0%,0.00%,99.97%,0%,0.65%,0%,99.92%,99.99%,0.00%,0.06%,0.05%,44.96%,0%,58.57%,93.00%,0%,100%,0%,0%,0.03%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,1.92%,1.92%,0%,0%,0%
types,numeric,numeric,numeric,numeric,numeric,numeric,categorical,categorical,categorical,categorical,categorical,categorical,categorical,categorical,categorical,categorical,categorical,categorical,categorical,categorical,constant,numeric,constant,constant,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,constant,numeric,numeric,numeric,categorical,numeric,numeric

In [83]:
single_family.head()

,OBJECTID,PID,FOLIO,TTRRSS,X_COORD,Y_COORD,TRUE_SITE_ADDR,TRUE_SITE_UNIT,TRUE_SITE_CITY,TRUE_SITE_ZIP_CODE,TRUE_MAILING_ADDR1,TRUE_MAILING_ADDR2,TRUE_MAILING_ADDR3,TRUE_MAILING_CITY,TRUE_MAILING_STATE,TRUE_MAILING_ZIP_CODE,TRUE_MAILING_COUNTRY,TRUE_OWNER1,TRUE_OWNER2,TRUE_OWNER3,CONDO_FLAG,PARENT_FOLIO,DOR_CODE_CUR,DOR_DESC,SUBDIVISION,BEDROOM_COUNT,BATHROOM_COUNT,HALF_BATHROOM_COUNT,FLOOR_COUNT,UNIT_COUNT,BUILDING_ACTUAL_AREA,BUILDING_HEATED_AREA,LOT_SIZE,YEAR_BUILT,ASSESSMENT_YEAR_CUR,ASSESSED_VAL_CUR,DOS_1,PRICE_1,LEGAL,Shape__Area,Shape__Length
27,28,269265,1.010000e+11,534126,914202.3,532050.4,1250 NW 21 ST,NaN,Miami,33142-7753,401 WILSHIRE BLVD #1070,NaN,NaN,SANTA MONICA,CA,90401,USA,SANTA CLARA APARTMENTS I LLC,NaN,NaN,N,NaN,101.0,RESIDENTIAL - SINGLE FAMILY : 1 UNIT,10100000.0,0.0,352.0,0.0,9.0,208.0,169280.0,169280.0,0.0,2003.0,2022.0,5900000.0,NaN,NaN,SANTA CLARA STATION PB 126-42 PORT OF TRACT A ...,163.781250,51.295338
205,206,360730,1.010208e+11,534136,918556.0,527704.1,460 NW 10 ST,NaN,Miami,33136-3321,460 NW 10 ST,NaN,NaN,MIAMI,FL,33136-3321,NaN,WILLIE JAMES PERRY &W ALMA,NaN,NaN,N,NaN,101.0,RESIDENTIAL - SINGLE FAMILY : 1 UNIT,10102080.0,3.0,1.0,0.0,1.0,1.0,1093.0,1093.0,7500.0,1953.0,2022.0,165203.0,NaN,NaN,MIAMI NORTH PB B-41 LOT 8 BLK 28 LOT SIZE 7500...,883.316406,135.836805
206,207,148065,1.010208e+11,534136,918516.6,527726.8,464 NW 10 ST,NaN,Miami,33136-3321,175 SW 7 ST SUITE #1518,NaN,NaN,MIAMI,FL,33130,USA,SYNERGY CONSULTANTS GROUP LLC TRS,LAND TRUST SCG723,NaN,N,NaN,101.0,RESIDENTIAL - SINGLE FAMILY : 1 UNIT,10102080.0,1.0,1.0,0.0,1.0,1.0,901.0,901.0,2500.0,1925.0,2022.0,48835.0,20190724.0,60100.0,MIAMI NORTH PB B-41 N100FT OF E25FT LOT 9 BLK ...,287.648438,84.940715
249,250,556344,1.010407e+11,534136,919060.1,527008.6,733 NW 4 AVE,NaN,Miami,33136-3808,4775 COLLINS AVE # 3504,NaN,NaN,MIAMI BEACH,FL,33140,USA,J AND O PROPERTY 1 LLC,NaN,NaN,N,NaN,101.0,RESIDENTIAL - SINGLE FAMILY : 1 UNIT,10104070.0,4.0,1.0,0.0,1.0,1.0,1065.0,1065.0,2500.0,1954.0,2022.0,182948.0,20190717.0,200000.0,MIAMI NORTH PB B-41 N25FT OF S75FT OF LOTS 9 &...,271.453125,82.556798
255,256,124471,1.010407e+11,534136,919190.6,526877.5,353 NW 7 ST,NaN,Miami,33136-3815,8375 NW 15 AVE,NaN,NaN,MIAMI,FL,33147,USA,FRANKIE MARIE LEE,NaN,NaN,N,NaN,101.0,RESIDENTIAL - SINGLE FAMILY : 1 UNIT,10104070.0,4.0,2.0,1.0,2.0,1.0,1710.0,2280.0,7500.0,1940.0,2022.0,406976.0,20161103.0,0.0,MIAMI NORTH PB B-41 LOT 14 BLK 47 LOT SIZE 50....,922.111328,137.556989

In [79]:
## For now, all of our columns are significant

## Let's drop the columns that are irrelevant to the data that will be required
##single_family_columns_to_drop = single_family.columns[6:20]
##print(single_family_columns_to_drop)


##single_family = single_family.drop(single_family_columns_to_drop, axis = 1)
##single_family

Index(['TRUE_SITE_ADDR', 'TRUE_SITE_UNIT', 'TRUE_SITE_CITY',
       'TRUE_SITE_ZIP_CODE', 'TRUE_MAILING_ADDR1', 'TRUE_MAILING_ADDR2',
       'TRUE_MAILING_ADDR3', 'TRUE_MAILING_CITY', 'TRUE_MAILING_STATE',
       'TRUE_MAILING_ZIP_CODE', 'TRUE_MAILING_COUNTRY', 'TRUE_OWNER1',
       'TRUE_OWNER2', 'TRUE_OWNER3'],
      dtype='object')

,OBJECTID,PID,FOLIO,TTRRSS,X_COORD,Y_COORD,CONDO_FLAG,PARENT_FOLIO,DOR_CODE_CUR,DOR_DESC,SUBDIVISION,BEDROOM_COUNT,BATHROOM_COUNT,HALF_BATHROOM_COUNT,FLOOR_COUNT,UNIT_COUNT,BUILDING_ACTUAL_AREA,BUILDING_HEATED_AREA,LOT_SIZE,YEAR_BUILT,ASSESSMENT_YEAR_CUR,ASSESSED_VAL_CUR,DOS_1,PRICE_1,LEGAL,Shape__Area,Shape__Length
27,28,269265,1.010000e+11,534126,914202.3,532050.4,N,NaN,101.0,RESIDENTIAL - SINGLE FAMILY : 1 UNIT,10100000.0,0.0,352.0,0.0,9.0,208.0,169280.0,169280.0,0.0,2003.0,2022.0,5900000.0,NaN,NaN,SANTA CLARA STATION PB 126-42 PORT OF TRACT A ...,163.781250,51.295338
205,206,360730,1.010208e+11,534136,918556.0,527704.1,N,NaN,101.0,RESIDENTIAL - SINGLE FAMILY : 1 UNIT,10102080.0,3.0,1.0,0.0,1.0,1.0,1093.0,1093.0,7500.0,1953.0,2022.0,165203.0,NaN,NaN,MIAMI NORTH PB B-41 LOT 8 BLK 28 LOT SIZE 7500...,883.316406,135.836805
206,207,148065,1.010208e+11,534136,918516.6,527726.8,N,NaN,101.0,RESIDENTIAL - SINGLE FAMILY : 1 UNIT,10102080.0,1.0,1.0,0.0,1.0,1.0,901.0,901.0,2500.0,1925.0,2022.0,48835.0,20190724.0,60100.0,MIAMI NORTH PB B-41 N100FT OF E25FT LOT 9 BLK ...,287.648438,84.940715
249,250,556344,1.010407e+11,534136,919060.1,527008.6,N,NaN,101.0,RESIDENTIAL - SINGLE FAMILY : 1 UNIT,10104070.0,4.0,1.0,0.0,1.0,1.0,1065.0,1065.0,2500.0,1954.0,2022.0,182948.0,20190717.0,200000.0,MIAMI NORTH PB B-41 N25FT OF S75FT OF LOTS 9 &...,271.453125,82.556798
255,256,124471,1.010407e+11,534136,919190.6,526877.5,N,NaN,101.0,RESIDENTIAL - SINGLE FAMILY : 1 UNIT,10104070.0,4.0,2.0,1.0,2.0,1.0,1710.0,2280.0,7500.0,1940.0,2022.0,406976.0,20161103.0,0.0,MIAMI NORTH PB B-41 LOT 14 BLK 47 LOT SIZE 50....,922.111328,137.556989
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
579939,579940,413806,3.660100e+12,564010,880476.9,452199.3,N,NaN,101.0,RESIDENTIAL - SINGLE FAMILY : 1 UNIT,366010035.0,5.0,5.0,0.0,2.0,1.0,4346.0,3385.0,11537.0,2019.0,2022.0,524793.0,20191216.0,602700.0,JACQUELINE GARDENS PB 164-73 T-21500 LOT 9 BLK...,1322.830078,155.214602
579940,579941,269752,3.660100e+12,564010,880507.5,452125.1,N,NaN,101.0,RESIDENTIAL - SINGLE FAMILY : 1 UNIT,366010035.0,4.0,4.0,0.0,2.0,1.0,3583.0,2600.0,9327.0,2018.0,2022.0,365373.0,20220131.0,100.0,JACQUELINE GARDENS PB 164-73 T-21500 LOT 10 BL...,1098.792969,149.506911
579941,579942,415651,3.660100e+12,564010,880479.7,452038.3,N,NaN,101.0,RESIDENTIAL - SINGLE FAMILY : 1 UNIT,366010035.0,4.0,4.0,1.0,2.0,1.0,3682.0,2740.0,10346.0,2019.0,2022.0,425452.0,20191115.0,579900.0,JACQUELINE GARDENS PB 164-73 T-21500 LOT 11 BL...,1205.316406,147.459041
579942,579943,336106,3.660100e+12,564010,880399.1,452003.5,N,NaN,101.0,RESIDENTIAL - SINGLE FAMILY : 1 UNIT,366010035.0,5.0,5.0,0.0,2.0,1.0,4346.0,3385.0,10690.0,2018.0,2022.0,395406.0,20180531.0,549900.0,JACQUELINE GARDENS PB 164-73 T-21500 LOT 12 BL...,1199.578125,163.027157
579943,579944,216039,3.660100e+12,564010,880576.6,452810.9,N,NaN,101.0,RESIDENTIAL - SINGLE FAMILY : 1 UNIT,366010036.0,4.0,2.0,1.0,1.0,1.0,2976.0,2259.0,17268.0,2012.0,2022.0,435734.0,20181022.0,100.0,MIMOSA PB 165-50 T-22266 LOT 1 BLK 1 LOT SIZE ...,1799.093750,165.961167

In [87]:
single_family.ASSESSED_VAL_CUR.describe()

count    3.163600e+05
mean     3.374650e+05
std      7.106569e+05
min      1.176300e+04
25%      1.436425e+05
50%      2.196230e+05
75%      3.324320e+05
max      4.634255e+07
Name: ASSESSED_VAL_CUR, dtype: float64

In [95]:
single_family.iloc[0]

OBJECTID                                                                28
PID                                                                 269265
FOLIO                                                       101000000026.0
TTRRSS                                                              534126
X_COORD                                                           914202.3
Y_COORD                                                           532050.4
TRUE_SITE_ADDR                                               1250 NW 21 ST
TRUE_SITE_UNIT                                                         NaN
TRUE_SITE_CITY                                                       Miami
TRUE_SITE_ZIP_CODE                                              33142-7753
TRUE_MAILING_ADDR1                                 401 WILSHIRE BLVD #1070
TRUE_MAILING_ADDR2                                                     NaN
TRUE_MAILING_ADDR3                                                     NaN
TRUE_MAILING_CITY                                             SANTA MONICA
TRUE_MAILING_STATE                                                      CA
TRUE_MAILING_ZIP_CODE                                                90401
TRUE_MAILING_COUNTRY                                                   USA
TRUE_OWNER1                                   SANTA CLARA APARTMENTS I LLC
TRUE_OWNER2                                                            NaN
TRUE_OWNER3                                                            NaN
CONDO_FLAG                                                               N
PARENT_FOLIO                                                           NaN
DOR_CODE_CUR                                                         101.0
DOR_DESC                              RESIDENTIAL - SINGLE FAMILY : 1 UNIT
SUBDIVISION                                                     10100000.0
BEDROOM_COUNT                                                          0.0
BATHROOM_COUNT                                                       352.0
HALF_BATHROOM_COUNT                                                    0.0
FLOOR_COUNT                                                            9.0
UNIT_COUNT                                                           208.0
BUILDING_ACTUAL_AREA                                              169280.0
BUILDING_HEATED_AREA                                              169280.0
LOT_SIZE                                                               0.0
YEAR_BUILT                                                          2003.0
ASSESSMENT_YEAR_CUR                                                 2022.0
ASSESSED_VAL_CUR                                                 5900000.0
DOS_1                                                                  NaN
PRICE_1                                                                NaN
LEGAL                    SANTA CLARA STATION PB 126-42 PORT OF TRACT A ...
Shape__Area                                                      163.78125
Shape__Length                                                    51.295338
Name: 27, dtype: object

In [85]:
coords.describe()

NameError: name 'coords' is not defined

In [157]:
upper_bound = 25.1317526
left_bound = -80.872408
lower_bound = 23.979636
right_bound = -80.118139

print(abs(abs(right_bound-left_bound)-abs(upper_bound-lower_bound)))

0.39784760000000574

In [158]:
longitude_scale = preprocessing.MinMaxScaler(feature_range=(left_bound, right_bound))
latitude_scale = preprocessing.MinMaxScaler(feature_range=(lower_bound, upper_bound))

In [159]:
longitude = [[item] for item in coords['Y_COORD'].values]
longitude

[[24.19534440334887],
 [24.19565771339937],
 [24.19133578414943],
 [24.190298044007548],
 [24.197477138261192],
 [24.191812906053755],
 [24.207798080254804],
 [24.20832848077174],
 [24.200605467547163],
 [24.204026431601136],
 [24.203872162185405],
 [24.203531815226995],
 [24.20683349880487],
 [24.207069674147505],
 [24.202720707989656],
 [24.199183644272296],
 [24.199325985640414],
 [24.200366906595008],
 [24.20763983482317],
 [24.207813189115072],
 [24.203439571658848],
 [24.20342366759536],
 [24.20026830140145],
 [24.196503014373192],
 [24.19611495522436],
 [24.195714968027886],
 [24.196103027176747],
 [24.195889117522967],
 [24.19587321345952],
 [24.194681999105043],
 [24.19137952032399],
 [24.195850152567445],
 [24.196037025313302],
 [24.198829778859917],
 [24.198980867462964],
 [24.200793930699376],
 [24.203186697049517],
 [24.20335607532556],
 [24.207699475061204],
 [24.197118501629774],
 [24.199034146075604],
 [24.194258951016536],
 [24.197419883632662],
 [24.207636654010486],
 [24.20724143803308],
 [24.207369465744065],
 [24.195520938453484],
 [24.195490720732877],
 [24.195277606282275],
 [24.195512986421733],
 [24.17993734185525],
 [24.202762058554683],
 [24.200744628102598],
 [24.199154221754867],
 [24.190643162184998],
 [24.1747939677267],
 [24.1894773943321],
 [24.189489322379714],
 [24.18614469783043],
 [24.186141517017745],
 [24.193066146255774],
 [24.205150848888977],
 [24.205168343358793],
 [24.205133354419175],
 [24.20575758891063],
 [24.205775083380473],
 [24.205793373053453],
 [24.203434800439766],
 [24.214613766657976],
 [24.214504028619984],
 [24.213728705525483],
 [24.214304432623365],
 [24.192306727224718],
 [24.19319974038899],
 [24.192424417294447],
 [24.193696742372623],
 [24.19448876473379],
 [24.19487284786679],
 [24.195254545390256],
 [24.195516167234445],
 [24.17255785640181],
 [24.174642083920475],
 [24.175034914288375],
 [24.175746621129008],
 [24.17646230398546],
 [24.174759773990232],
 [24.173822229448234],
 [24.174670711234725],
 [24.17560427976086],
 [24.17613308987147],
 [24.1755517963514],
 [24.174655602374443],
 [24.174641288717325],
 [24.175005491770946],
 [24.175396731732476],
 [24.172813116620603],
 [24.17329978096302],
 [24.177176396435613],
 [24.177014174988116],
 [24.17669132249955],
 [24.177067453600785],
 [24.17713822668324],
 [24.177457103155973],
 [24.17688376166761],
 [24.17843917907571],
 [24.178518699393095],
 [24.178536193862897],
 [24.17868489685641],
 [24.179519064985783],
 [24.17961289896033],
 [24.1796319838365],
 [24.179693214480864],
 [24.179725022607826],
 [24.179742517077642],
 [24.179367976382764],
 [24.179945293886973],
 [24.180904308914677],
 [24.18096156354318],
 [24.180367546772302],
 [24.180788209251276],
 [24.177634433463737],
 [24.179647092696797],
 [24.17962164619523],
 [24.179197802903545],
 [24.179183489246455],
 [24.17792468262222],
 [24.177941381888843],
 [24.177954900342797],
 [24.177983527657048],
 [24.176513992191786],
 [24.17668178006147],
 [24.176665080794805],
 [24.17647741284577],
 [24.179402170119232],
 [24.178804972535673],
 [24.179055461535427],
 [24.179018086986275],
 [24.17862207580569],
 [24.178259463158398],
 [24.178179942841012],
 [24.17785709035242],
 [24.177872994415893],
 [24.178202208529868],
 [24.180449452699236],
 [24.180439115057965],
 [24.180657000727606],
 [24.18015602272807],
 [24.198083878282844],
 [24.198067974219356],
 [24.198049684546362],
 [24.19803219007656],
 [24.197955055368666],
 [24.20072156721058],
 [24.200669083801074],
 [24.200669083801074],
 [24.20002974044928],
 [24.2003366888744],
 [24.199843662906616],
 [24.19947389343075],
 [24.19953512407514],
 [24.202211777958397],
 [24.202144980891774],
 [24.20318510664319],
 [24.204457431721366],
 [24.204544904070488],
 [24.20545064048555],
 [24.205410085123646],
 [24.205359987323718],
 [24.20533056480629],
 [24.20664503565267],
 [24.206662530122514],
 [24.206685591014534],
 [24.206707061500254],
 [24.206728531985917],
 [24.207618364337492],
 [24.2111387287882],
 [24.211151452038962],
 [24.21151167907672],
 [24.21155064403223],
 [24.192193013170865],
 [24.1945523809877],
 [24.195811187611937],
 [24.195962276214985],
 [24.196797239547536],
 [24.195267268641018],
 [24.212412644272703],
 [24.211347867222898],
 [24.209982503373382],
 [24.20981392030052],
 [24.20972565274822],
 [24.19528396790767],
 [24.195269654250524],
 [24.195253750187078],
 [24.19524182213945],
 [24.19286973107181],
 [24.19374206895354],
 [24.193212463639753],
 [24.193574281083855],
 [24.19357189547432],
 [24.195384958710775],
 [24.194856148600124],
 [24.19506687744122],
 [24.194965091434952],
 [24.197101007159958],
 [24.195997265154645],
 [24.196889483115726],
 [24.199622596424263],
 [24.197606756378548],
 [24.198378103457173],
 [24.196087918316437],
 [24.187743056209925],
 [24.18576618111969],
 [24.18670690647437],
 [24.18618127717643],
 [24.199635319675068],
 [24.199566932202117],
 [24.20050050072821],
 [24.199407891567333],
 [24.200009065166796],
 [24.19720199796302],
 [24.198362994596877],
 [24.198345500127033],
 [24.19737137623906],
 [24.198243714120792],
 [24.197408750788256],
 [24.197450896556447],
 [24.19832880086041],
 [24.198307330374703],
 [24.197431016477097],
 [24.198451262149163],
 [24.197610732394395],
 [24.19701353481085],
 [24.19803616609242],
 [24.196161077008426],
 [24.1960473629546],
 [24.196021121249856],
 [24.18782337173046],
 [24.182384182021238],
 [24.182419966164062],
 [24.182581392408352],
 [24.18724207821039],
 [24.187269910321447],
 [24.197185298696397],
 [24.186055635074993],
 [24.18607074393526],
 [24.186085057592422],
 [24.18385292228335],
 [24.184191678835433],
 [24.183814752531006],
 [24.184574171562062],
 [24.18262035736386],
 [24.18206689595486],
 [24.182617176551176],
 [24.188222563723755],
 [24.185116500126625],
 [24.18513956101866],
 [24.190931025733946],
 [24.190572389102513],
 [24.185486269602464],
 [24.185514101713565],
 [24.186559793887213],
 [24.1763756268395],
 [24.18295036668104],
 [24.18250584810683],
 [24.181907060116913],
 [24.175506469770482],
 [24.175489770503816],
 [24.173442122331124],
 [24.17456176839994],
 [24.173321251448684],
 [24.174456006377795],
 [24.173270358445592],
 [24.175403093357886],
 [24.175468300018153],
 [24.17535220035475],
 [24.175077060056594],
 [24.188035690977912],
 [24.188053980650892],
 [24.18988056234126],
 [24.18935572824651],
 [24.190698031203993],
 [24.18989089998253],
 [24.18957043310347],
 [24.181934892228014],
 [24.18280563970339],
 [24.182997283668286],
 [24.18323663982362],
 [24.211207911464314],
 [24.211179284150035],
 [24.196806781985615],
 [24.181701102494884],
 [24.184665619927046],
 [24.184631426190577],
 [24.184609160501694],
 [24.17210459059268],
 [24.188150995438093],
 [24.18550774008817],
 [24.185110933704408],
 [24.185062426310807],
 [24.184697428054008],
 [24.184764225120603],
 [24.1846393782223],
 [24.185535572199285],
 [24.18592601695761],
 [24.185523644151658],
 [24.18560077885951],
 [24.185564994716714],
 [24.18356744434395],
 [24.179412507760503],
 [24.179386266055758],
 [24.174553021164996],
 [24.177446765514702],
 [24.177919116200002],
 [24.178397828510654],
 [24.178876540821307],
 [24.180909875336894],
 [24.181414034149128],
 [24.18187286638043],
 [24.182337265033965],
 [24.184332429797223],
 [24.185029822980695],
 [24.187956965863663],
 [24.188275842336395],
 [24.1878869879844],
 [24.1874543974578],
 [24.186980456366186],
 [24.18652162413484],
 [24.186041321417832],
 [24.185549885856375],
 [24.185092644031414],
 [24.18463381180011],
 [24.183215169337913],
 [24.18273327621455],
 [24.180839897457602],
 [24.179774325204605],
 [24.176897280121565],
 [24.177862656774636],
 [24.178937771465698],
 [24.180917032165453],
 [24.179662201557107],
 [24.178859841554683],
 [24.178013745377655],
 [24.178272186409203],
 [24.176187958890466],
 [24.175787176490843],
 [24.17537049002773],
 [24.174902115358336],
 [24.17824912551714],
 [24.178259463158398],
 [24.189591903589132],
 [24.18874501220897],
 [24.188314807291917],
 [24.187887783187577],
 [24.187430541362588],
 [24.186956600270946],
 [24.186509696087256],
 [24.186081081576518],
 [24.18564849104996],
 [24.185217490929716],
 [24.18528031198045],
 [24.18573596339907],
 [24.18621229010023],
 [24.186686231191842],
 [24.187184028378667],
 [24.187676259143302],
 [24.188153381047627],
 [24.18111583295891],
 [24.181659751929843],
 [24.183259700715652],
 [24.184032638200662],
 [24.18481432292056],
 [24.186341908217543],
 [24.186739509804482],
 [24.188743421802613],
 [24.181080844019263],
 [24.1810490358923],
 [24.18242314697676],
 [24.18285891831603],
 [24.183621518159768],
 [24.184815118123737],
 [24.185568175529397],
 [24.189513973678103],
 [24.174816233415555],
 [24.17521224459614],
 [24.1759931341129],
 [24.176398687731563],
 [24.176797084521652],
 [24.177592287695504],
 [24.177992274891977],
 [24.17838510525985],
 [24.17878270684679],
 [24.179565186769878],
 [24.17275029556987],
 [24.173680683283266],
 [24.174069537635305],
 [24.175216220612],
 [24.175602689354534],
 [24.17642095342042],
 [24.176816169397824],
 [24.177212975781586],
 [24.17841293737095],
 [24.17880258692614],
 [24.17919462209086],
 [24.172539566728787],
 [24.18943365815754],
 [24.188252781444362],
 [24.1878472278257],
 [24.189955311439604],
 [24.189207820456176],
 [24.181293958469865],
 [24.180110696147153],
 [24.180128190616998],
 [24.180174312401064],
 [24.180197373293126],
 [24.180207710934354],
 [24.180314268159663],
 [24.18479921406025],
 [24.184355490689256],
 [24.183839403829396],
 [24.183341606642585],
 [24.182888340833458],
 [24.182415194945037],
 [24.182408833319627],
 [24.182899473677907],
 [24.18335830590921],
 [24.183827475781783],
 [24.184322092155966],
 [24.18481829893642],
 [24.18484772145389],
 [24.18431493532738],
 [24.18375511229297],
 [24.183189722836346],
 [24.182579006798846],
 [24.186010308494076],
 [24.187436902987955],
 [24.187001131648714],
 [24.186555022668173],
 [24.18923883337993],
 [24.18879351960257],
 [24.18833309696494],
 [24.18790130164149],
 [24.188344229809346],
 [24.189005043646844],
 [24.189005838850022],
 [24.188956536253244],
 [24.18892552332946],
 [24.188888148780265],
 [24.188864292685054],
 [24.188848388621565],
 [24.184689476022257],
 [24.18422269175923],
 [24.184827046171364],
 [24.185276335964588],
 [24.1857017696626],
 [24.186574107544345],
 [24.187046458229588],
 [24.186725991350528],
 [24.18612004653204],
 [24.187086218388288],
 [24.187402709251486],
 [24.187972074723973],
 [24.189894875998377],
 [24.18301875415399],
 [24.18297024676039],
 [24.182973427573074],
 [24.182958318712764],
 [24.182928100992157],
 [24.182909811319163],
 [24.18289231684932],
 [24.18287323197316],
 [24.18284460465891],
 [24.186085057592422],
 [24.185597598046826],
 [24.185116500126625],
 [24.184642559035012],
 [24.184043771045097],
 [24.184089097626014],
 [24.184357876298762],
 [24.184125676971988],
 [24.18414396664498],
 [24.18416384672433],
 [24.18391653853726],
 [24.18381077651516],
 [24.18364060303594],
 [24.183616746940714],
 [24.183592890845517],
 [24.18229034804672],
 [24.182275239186424],
 [24.182248202278487],
 [24.182186176430946],
 [24.182166296351596],
 [24.18214562106907],
 [24.18211222253578],
 [24.18840625565693],
 [24.188425340533087],
 [24.188446811018764],
 [24.18851281288221],
 [24.18832673533953],
 [24.181891951256603],
 [24.182382591614882],
 [24.18182833500269],
 [24.182318180157793],
 [24.182049401485045],
 [24.176638839090046],
 [24.176832868664476],
 [24.179449882309655],
 [24.182016002951727],
 [24.17942284540176],
 [24.176549776334582],
 [24.17894810910697],
 [24.179387856462114],
 [24.18061724056892],
 [24.181719392167878],
 [24.18034528108346],
 [24.179364000366903],
 [24.17892743382444],
 [24.176767662004224],
 [24.176277021645944],
 [24.175528735459366],
 [24.17103345191748],
 [24.17156146682494],
 [24.171810365418338],
 [24.172505372992305],
 [24.172519686649437],
 [24.172574555668433],
 [24.172654075985832],
 [24.17316380122027],
 [24.174142696327323],
 [24.17391049700052],
 [24.17424607273989],
 [24.174228578270075],
 [24.17098494452388],
 [24.171717326647013],
 [24.17132290587277],
 [24.192856212617855],
 [24.192876092697205],
 [24.192895177573376],
 [24.192919828871766],
 [24.19428996394032],
 [24.194355965803766],
 [24.194298711175264],
 [24.194280421502242],
 [24.194262131829248],
 [24.1942422517499],
 [24.194204877200747],
 [24.194001305188237],
 [24.194501487984596],
 [24.195253750187078],
 [24.195292715142585],
 [24.195312595221935],
 [24.19673600890313],
 [24.196716128823823],
 [24.196676368665095],
 [24.196636608506395],
 [24.19661593322391],
 [24.19659605314456],
 [24.196568221033445],
 [24.19755109215636],
 [24.197578924267432],
 [24.197598009143604],
 [24.197661625397544],
 [24.197691047914972],
 [24.19771569921336],
 [24.19908503907874],
 [24.19893792649158],
 [24.198858406174196],
 [24.198796380326655],
 [24.19868187106958],
 [24.19637180584951],
 [24.196351925770173],
 [24.196292285532124],
 [24.197360243394655],
 [24.197379328270785],
 [24.197473162245302],
 [24.197494632731008],
 [24.19408718713099],
 [24.194055379004055],
 [24.194014028439],
 [24.193950412185103],
 [24.193928146496248],
 [24.1941301281024],
 [24.194899089571507],
 [24.194920560057213],
 [24.194942825746097],
 [24.194965091434952],
 [24.194985766717465],
 [24.195049382971376],
 [24.195070058253904],
 [24.192531769722905],
 [24.19255403541179],
 [24.192669339872012],
 [24.199971690617602],
 [24.199969305008068],
 [24.199946244116035],
 [24.199912845582745],
 [24.199896941519256],
 [24.199874675830372],
 [24.199845253312944],
 [24.201187556270426],
 [24.201163700175215],
 [24.20112314481338],
 [24.201016587588057],
 [24.203735387239504],
 [24.203702783909364],
 [24.20365666212527],
 [24.20359384107458],
 [24.203435595642944],
 [24.202347757701105],
 [24.20286861577999],
 [24.202597451497724],
 [24.20266663417381],
 [24.202681743034148],
 [24.20269685189446],
 [24.207898275854674],
 [24.207848973257896],
 [24.20782352675633],
 [24.207742416032588],
 [24.206996515455515],
 [24.207039456426926],
 [24.207118181541105],
 [24.209936381589287],
 [24.209892645414726],
 [24.20959444422452],
 [24.209989660201956],
 [24.209238988405815],
 [24.208844567631587],
 [24.209071995739308],
 [24.20911493671069],
 [24.210971736121664],
 [24.21098207376292],
 [24.210667173306092],
 [24.210735560779028],
 [24.210772935328222],
 [24.210788044188533],
 [24.210849274832896],
 [24.210879492553502],
 [24.20972724315459],
 [24.20967873576099],
 [24.209602396256287],
 [24.209588082599154],
 [24.209572178535666],
 [24.20954593683092],
 [24.2087889034094],
 [24.20880321706653],
 [24.20883820600622],
 [24.208858881288705],
 [24.20890102705691],
 [24.20892885916801],
 [24.207507831096322],
 [24.20766369091838],
 [24.20763903961999],
 [24.207603255477196],
 [24.207582580194668],
 [24.20755792889628],
 [24.20752214475344],
 [24.206720579954194],
 [24.206734893611312],
 [24.20678419620809],
 [24.206821570757256],
 [24.206837474820745],
 [24.203512730350823],
 [24.20344752369057],
 [24.203420486782676],
 [24.20339265467156],
 [24.20237002338996],
 [24.2024336396439],
 [24.200954561740488],
 [24.20090923515957],
 [24.200890945486577],
 [24.200859932562793],
 [24.19974505771306],
 [24.19971086397659],
 [24.199659175770265],
 [24.199641681300463],
 [24.19960828276713],
 [24.199590788297314],
 [24.199572498624306],
 [24.199555799357668],
 [24.199524786433884],
 [24.20741161151227],
 [24.2074410340297],
 [24.206412041122718],
 [24.209962623294032],
 [24.2103045606588],
 [24.20867757496505],
 [24.20865371886984],
 [24.21081905711229],
 [24.210030215563833],
 [24.208423109949436],
 [24.192532564926083],
 [24.192736136938592],
 [24.192677291903735],
 [24.193078869506536],
 [24.19385896382009],
 [24.19425179418799],
 [24.194697107965354],
 [24.19626604382738],
 [24.196666826227045],
 [24.197073175048857],
 [24.19825961818428],
 [24.199428566849832],
 [24.199814240389188],
 [24.199072315827976],
 [24.19791529520998],
 [24.19710498317582],
 [24.19629785195434],
 [24.195511396015405],
 [24.196363058614608],
 [24.19677099784282],
 [24.19716939463291],
 [24.197961416994076],
 [24.198355837768304],
 [24.199127184846944],
 [24.199717225601958],
 [24.196418722836796],
 [24.19239897079288],
 [24.192791005957602],
 [24.193206102014344],
 [24.193604498804476],
 [24.194173864276962],
 [24.19463587732099],
 [24.194031522908844],
 [24.193648234979023],
 [24.192923804887627],
 [24.193323792084115],
 [24.196855289379215],
 [24.197660830194366],
 [24.198048889343184],
 [24.199213066789724],
 [24.191804954022004],
 [24.192288437551724],
 [24.192332968929477],
 [24.191557645834934],
 [24.191633190136457],
 [24.192445887780153],
 [24.192061804647153],
 [24.19167613110787],
 [24.192531769722905],
 [24.178102012929983],
 [24.178119507399785],
 [24.178654679135803],
 [24.178053505536383],
 [24.1826927208527],
 [24.182712600932064],
 [24.18273168580822],
 [24.182759517919294],
 [24.182815977344646],
 [24.182128126599267],
 [24.18202872620253],
 [24.17463492709193],
 [24.199588402687823],
 [24.19906993021843],
 [24.199378469049904],
 [24.199412662786386],
 [24.1876190045148],
 [24.188900076827878],
 [24.189846368604776],
 [24.188664696688406],
 [24.19036166026146],
 [24.19033462335352],
 [24.188057956666754],
 [24.18765240304809],
 [24.186870718328194],
 [24.186465164709517],
 [24.186067563122577],
 [24.18568347998962],
 [24.18529462563758],
 [24.185744710633983],
 [24.208089124616393],
 [24.203989057051984],
 [24.203535791242857],
 [24.20393657364248],
 [24.20391192234409],
 [24.203861824544134],
 [24.202385927453477],
 [24.20217917462824],
 [24.201236858867205],
 [24.201257534149732],
 [24.20127900463544],
 [24.195724510466007],
 [24.19567520786923],
 [24.19565930380574],
 [24.195641809335896],
 [24.195279991891823],
 [24.195695087948536],
 [24.196092689535476],
 [24.19666762143018],
 [24.19668273029049],
 [24.1966978391508],
 [24.19672726166823],
 [24.196767817030093],
 [24.198121252832024],
 [24.198102963159045],
 [24.198084673486022],
 [24.19804650373368],
 [24.1980282140607],
 [24.1980091291845],
 [24.197990839511505],
 [24.19797254983851],
 [24.19786201659734],
 [24.19923453727543],
 [24.198994385916947],
 [24.199015061199432],
 [24.199281454262675],
 [24.198774114637757],
 [24.200489367883776],
 [24.200512428775838],
 [24.20045437894416],
 [24.200401895534654],
 [24.200385196268],
 [24.200366906595008],
 [24.200036102074677],
 [24.20041461878543],
 [24.200809834762865],
 [24.201324331216355],
 [24.20136091056233],
 [24.20139510429884],
 [24.201489733476492],
 [24.202871796592675],
 [24.202853506919695],
 [24.20283680765303],
 [24.202820108386405],
 [24.2037902562585],
 [24.203834787636254],
 [24.20385546291874],
 [24.20496636175264],
 [24.205045882070024],
 [24.204870142168588],
 [24.207913384714985],
 [24.204995784270068],
 [24.204977494597074],
 [24.204943300860606],
 [24.204856623714676],
 [24.20474768087982],
 [24.202692080675376],
 [24.202658682142086],
 [24.202642778078598],
 [24.20260858434216],
 [24.203665409360198],
 [24.20370039829986],
 [24.200221384414178],
 [24.20111360237526],
 [24.201131096845103],
 [24.201223340413264],
 [24.201262305368772],
 [24.197901776756026],
 [24.19782782286086],
 [24.197742736121256],
 [24.1987725242314],
 [24.19879240431075],
 [24.198850454142445],
 [24.198563385796675],
 [24.195545589751873],
 [24.195521733656634],
 [24.1954986727646],
 [24.195475611872567],
 [24.195452550980548],
 [24.19538177789805],
 [24.195335656113954],
 [24.19639168592886],
 [24.19641554202407],
 [24.19643939811928],
 [24.196463254214493],
 [24.196486315106554],
 [24.196510171201766],
 [24.19655708818901],
 [24.208455713279548],
 [24.1943392665371],
 [24.193250633392083],
 [24.192720232875118],
 [24.19217154268516],
 [24.1918995831997],
 [24.1922836663327],
 [24.194262927032426],
 [24.194623154070186],
 [24.193831926912196],
 [24.19343671093479],
 [24.191472559095317],
 [24.193338900944383],
 [24.194123766477006],
 [24.192098383993155],
 [24.194054583800877],
 [24.194089572740523],

In [160]:
latitude = [[item] for item in coords['X_COORD'].values]
latitude

[[-80.73118777829191],
 [-80.73098266011336],
 [-80.73381214564756],
 [-80.73449153453848],
 [-80.72979151698505],
 [-80.73349978293909],
 [-80.72303459099632],
 [-80.72268734778542],
 [-80.72774345882652],
 [-80.72550381820679],
 [-80.72560481548253],
 [-80.72582763421457],
 [-80.72366608427197],
 [-80.72351146473127],
 [-80.72635865081897],
 [-80.72867429969776],
 [-80.72858111148973],
 [-80.72789964018075],
 [-80.72313819129465],
 [-80.72302469951057],
 [-80.72588802433819],
 [-80.72589843642848],
 [-80.7279641951405],
 [-80.73042925751484],
 [-80.73068331251773],
 [-80.73094517658834],
 [-80.73069112158544],
 [-80.73083116419974],
 [-80.73084157629],
 [-80.73162144185217],
 [-80.73378351239928],
 [-80.73085667382094],
 [-80.73073433176012],
 [-80.72890596870654],
 [-80.72880705384885],
 [-80.72762007555667],
 [-80.7260535765737],
 [-80.72594268781219],
 [-80.7230991459561],
 [-80.73002630962091],
 [-80.72877217334641],
 [-80.73189840345368],
 [-80.72982900051007],
 [-80.7231402737127],
 [-80.72339901415621],
 [-80.72331519682945],
 [-80.73107220408977],
 [-80.7310919870613],
 [-80.7312315090711],
 [-80.73107741013492],
 [-80.7412744907529],
 [-80.72633157938424],
 [-80.72765235303655],
 [-80.72869356206478],
 [-80.73426559217936],
 [-80.7446417607502],
 [-80.73502879839705],
 [-80.73502098932934],
 [-80.73721065191572],
 [-80.73721273433377],
 [-80.73267931022484],
 [-80.72476768342383],
 [-80.72475623012453],
 [-80.72477913672313],
 [-80.72437046217956],
 [-80.72435900888024],
 [-80.72434703497643],
 [-80.7258911479653],
 [-80.71857248970585],
 [-80.7186443331288],
 [-80.71915192253005],
 [-80.71877500486183],
 [-80.73317648753583],
 [-80.73259184866646],
 [-80.73309943806774],
 [-80.73226647084516],
 [-80.7317479487491],
 [-80.73149649676877],
 [-80.73124660660199],
 [-80.73107532771685],
 [-80.74610570064388],
 [-80.7447411962124],
 [-80.74448401758242],
 [-80.74401807654228],
 [-80.74354953247959],
 [-80.7446641467443],
 [-80.74527793946645],
 [-80.7447224544499],
 [-80.74411126475032],
 [-80.74376506274844],
 [-80.74414562464824],
 [-80.74473234593566],
 [-80.7447417168169],
 [-80.74450327994944],
 [-80.74424714252851],
 [-80.74593858659486],
 [-80.74561997663221],
 [-80.7430820296259],
 [-80.74318823294679],
 [-80.74339959837951],
 [-80.74315335244434],
 [-80.74310701864259],
 [-80.74289825623242],
 [-80.74327361208711],
 [-80.74225530965748],
 [-80.74220324920607],
 [-80.74219179590678],
 [-80.74209444286264],
 [-80.74154832872733],
 [-80.74148689739465],
 [-80.74147440288631],
 [-80.74143431633874],
 [-80.74141349215817],
 [-80.74140203885887],
 [-80.741647243585],
 [-80.74126928470777],
 [-80.74064143566373],
 [-80.74060395213873],
 [-80.74099284371077],
 [-80.7407174439228],
 [-80.74278216142578],
 [-80.74146451140055],
 [-80.741481170745],
 [-80.74175865295103],
 [-80.74176802383226],
 [-80.74259214077811],
 [-80.74258120808334],
 [-80.7425723578066],
 [-80.74255361604409],
 [-80.74351569318615],
 [-80.74340584563367],
 [-80.74341677832848],
 [-80.74353964099382],
 [-80.7416248575909],
 [-80.742015831581],
 [-80.74185184115906],
 [-80.74187630957121],
 [-80.74213557061924],
 [-80.74237296627769],
 [-80.7424250267291],
 [-80.74263639216183],
 [-80.74262598007155],
 [-80.7424104498027],
 [-80.7409392214458],
 [-80.74094598930449],
 [-80.74080334366762],
 [-80.74113132451151],
 [-80.72939429574078],
 [-80.72940470783107],
 [-80.72941668173489],
 [-80.72942813503418],
 [-80.72947863367207],
 [-80.72766745056744],
 [-80.72770181046539],
 [-80.72770181046539],
 [-80.72812037649474],
 [-80.72791942315229],
 [-80.72824219795103],
 [-80.72848427905011],
 [-80.72844419250252],
 [-80.72669183770799],
 [-80.72673556848719],
 [-80.72605461778272],
 [-80.72522165056014],
 [-80.72516438406359],
 [-80.72457141552199],
 [-80.72459796635223],
 [-80.72463076443661],
 [-80.72465002680363],
 [-80.7237894675418],
 [-80.72377801424248],
 [-80.72376291671159],
 [-80.72374886038969],
 [-80.72373480406783],
 [-80.72315224761653],
 [-80.72084753143253],
 [-80.72083920176031],
 [-80.72060336791542],
 [-80.72057785829423],
 [-80.73325093398134],
 [-80.73170630038797],
 [-80.73088218344212],
 [-80.73078326858443],
 [-80.73023663384461],
 [-80.73123827692977],
 [-80.72001352300093],
 [-80.72071061244533],
 [-80.72160449039606],
 [-80.72171485855306],
 [-80.72177264565413],
 [-80.73122734423498],
 [-80.73123671511624],
 [-80.7312471272065],
 [-80.73125493627423],
 [-80.73280789953984],
 [-80.73223679638785],
 [-80.73258351899425],
 [-80.73234664394033],
 [-80.73234820575388],
 [-80.73116122746167],
 [-80.73150742946358],
 [-80.73136946926732],
 [-80.73143610664513],
 [-80.73003776292022],
 [-80.7307603619858],
 [-80.73017624372096],
 [-80.72838692600597],
 [-80.72970665844923],
 [-80.72920167207056],
 [-80.73070101307121],
 [-80.73616423684233],
 [-80.73745845966442],
 [-80.73684258452423],
 [-80.73718670410807],
 [-80.72837859633373],
 [-80.72842336832194],
 [-80.72781217862239],
 [-80.72852748922477],
 [-80.72813391221209],
 [-80.72997164614694],
 [-80.72921156355632],
 [-80.72922301685564],
 [-80.72986075738542],
 [-80.72928965423344],
 [-80.72983628897325],
 [-80.72980869693401],
 [-80.72923394955042],
 [-80.72924800587231],
 [-80.72982171204687],
 [-80.72915377645526],
 [-80.72970405542668],
 [-80.73009502941676],
 [-80.72942553201162],
 [-80.73065311745592],
 [-80.73072756390141],
 [-80.73074474385038],
 [-80.73611165578642],
 [-80.73967259066296],
 [-80.73964916345983],
 [-80.73954348074346],
 [-80.73649221768622],
 [-80.73647399652825],
 [-80.72998257884171],
 [-80.73726895962128],
 [-80.73725906813553],
 [-80.73724969725426],
 [-80.7387110341254],
 [-80.73848925660238],
 [-80.73873602314208],
 [-80.73823884583109],
 [-80.73951797112228],
 [-80.7398803118641],
 [-80.73952005354033],
 [-80.73585031232032],
 [-80.73788379355247],
 [-80.73786869602156],
 [-80.73407713334524],
 [-80.73431192598112],
 [-80.73764171245341],
 [-80.73762349129541],
 [-80.73693889635933],
 [-80.74360627837163],
 [-80.7393019202489],
 [-80.73959293817231],
 [-80.73998495337143],
 [-80.74417529910555],
 [-80.74418623180036],
 [-80.7455267884242],
 [-80.74479377726831],
 [-80.74560592031035],
 [-80.7448630176687],
 [-80.74563923899923],
 [-80.74424297769238],
 [-80.74420028812222],
 [-80.74427629638129],
 [-80.74445642554318],
 [-80.73597265438113],
 [-80.73596068047732],
 [-80.7347648519084],
 [-80.73510845088771],
 [-80.73422967046788],
 [-80.7347580840497],
 [-80.73496788766889],
 [-80.73996673221343],
 [-80.73939667027048],
 [-80.73927120458258],
 [-80.73911450262383],
 [-80.72080223883981],
 [-80.72082098060233],
 [-80.73023038659045],
 [-80.7401197899406],
 [-80.73817897631197],
 [-80.73820136230607],
 [-80.73821593923248],
 [-80.74640244521694],
 [-80.7358971667266],
 [-80.73762765613152],
 [-80.73788743778407],
 [-80.73791919465943],
 [-80.7381581521314],
 [-80.73811442135222],
 [-80.73819615626094],
 [-80.7376094349735],
 [-80.7373538181571],
 [-80.73761724404123],
 [-80.73756674540337],
 [-80.73759017260649],
 [-80.73889793114596],
 [-80.74161808973221],
 [-80.74163526968118],
 [-80.74479950391799],
 [-80.74290502409112],
 [-80.74259578500971],
 [-80.74228238109222],
 [-80.74196897717474],
 [-80.74063779143214],
 [-80.74030772817018],
 [-80.74000733936555],
 [-80.7397033063293],
 [-80.73839710960337],
 [-80.7379405394445],
 [-80.73602419422805],
 [-80.73581543181788],
 [-80.73607000742527],
 [-80.73635321628096],
 [-80.73666349657137],
 [-80.73696388537603],
 [-80.73727833050255],
 [-80.73760006409228],
 [-80.73789941168789],
 [-80.73819980049252],
 [-80.73912855894572],
 [-80.73944404528127],
 [-80.74068360462937],
 [-80.7413812146783],
 [-80.74326476181037],
 [-80.74263274793023],
 [-80.74192889062715],
 [-80.7406331059915],
 [-80.74145461991478],
 [-80.74197990986951],
 [-80.74253383307256],
 [-80.74236463660544],
 [-80.74372914103697],
 [-80.74399152571208],
 [-80.74426432247748],
 [-80.74457095853629],
 [-80.74237973413636],
 [-80.74237296627769],
 [-80.73495383134703],
 [-80.73550827515456],
 [-80.73578992219669],
 [-80.73606948682075],
 [-80.73636883441638],
 [-80.7366791147068],
 [-80.73697169444372],
 [-80.73725230027685],
 [-80.73753550913251],
 [-80.73781767677917],
 [-80.73777654902256],
 [-80.73747824263597],
 [-80.737166400532],
 [-80.7368561202416],
 [-80.73653022181577],
 [-80.73620796762152],
 [-80.73589560491305],
 [-80.74050295486299],
 [-80.74014686137532],
 [-80.73909940509293],
 [-80.7385933775052],
 [-80.73808162326783],
 [-80.73708154199622],
 [-80.73682123973916],
 [-80.73550931636359],
 [-80.7405258614616],
 [-80.74054668564217],
 [-80.73964708104177],
 [-80.73936178976804],
 [-80.738862530039],
 [-80.73808110266332],
 [-80.73758809018844],
 [-80.7350048505894],
 [-80.74462718382381],
 [-80.74436792277578],
 [-80.7438566891429],
 [-80.74359118084071],
 [-80.74333035797915],
 [-80.74280975346504],
 [-80.74254788939443],
 [-80.74229071076446],
 [-80.7420304085074],
 [-80.74151813366551],
 [-80.74597971435148],
 [-80.74537060706997],
 [-80.74511603146256],
 [-80.74436531975321],
 [-80.74411230595933],
 [-80.74357660391432],
 [-80.7433178634708],
 [-80.74305808181826],
 [-80.74227248960646],
 [-80.74201739339455],
 [-80.74176073536908],
 [-80.74611767454772],
 [-80.73505743164533],
 [-80.73583052934879],
 [-80.73609603765098],
 [-80.73471591508407],
 [-80.73520528332733],
 [-80.74038633945182],
 [-80.74116099896882],
 [-80.7411495456695],
 [-80.74111935060769],
 [-80.74110425307677],
 [-80.7410974852181],
 [-80.74102772421321],
 [-80.7380915147536],
 [-80.73838201207246],
 [-80.73871988440214],
 [-80.73904578282796],
 [-80.73934252740102],
 [-80.7396522870869],
 [-80.73965645192303],
 [-80.73933523893781],
 [-80.73903485013318],
 [-80.73872769346985],
 [-80.73840387746205],
 [-80.73807902024527],
 [-80.73805975787822],
 [-80.73840856290269],
 [-80.73877506848063],
 [-80.73914521829018],
 [-80.739545042557],
 [-80.73729863407858],
 [-80.73636466958028],
 [-80.736649960854],
 [-80.73694201998642],
 [-80.7351849797513],
 [-80.7354765182792],
 [-80.73577794829285],
 [-80.73606063654404],
 [-80.73577065982967],
 [-80.73533803747843],
 [-80.73533751687391],
 [-80.73536979435379],
 [-80.73539009792984],
 [-80.73541456634202],
 [-80.73543018447744],
 [-80.73544059656773],
 [-80.73816335817655],
 [-80.73846895302631],
 [-80.73807329359559],
 [-80.73777915204512],
 [-80.73750062863007],
 [-80.73692952547808],
 [-80.73662028639671],
 [-80.7368300900159],
 [-80.73722679065565],
 [-80.736594256171],
 [-80.73638705557438],
 [-80.73601430274228],
 [-80.73475548102715],
 [-80.73925714826069],
 [-80.73928890513605],
 [-80.739286822718],
 [-80.73929671420377],
 [-80.73931649717531],
 [-80.73932847107913],
 [-80.73933992437846],
 [-80.73935241888678],
 [-80.73937116064928],
 [-80.73724969725426],
 [-80.73756882782142],
 [-80.73788379355247],
 [-80.73819407384288],
 [-80.738586089042],
 [-80.73855641458469],
 [-80.73838045025893],
 [-80.73853246677706],
 [-80.73852049287323],
 [-80.73850747776038],
 [-80.73866938576427],
 [-80.73873862616463],
 [-80.73885003553066],
 [-80.7388656536661],
 [-80.7388812718015],
 [-80.73973402199563],
 [-80.73974391348139],
 [-80.73976161403489],
 [-80.73980222118698],
 [-80.73981523629983],
 [-80.7398287720172],
 [-80.73985063740679],
 [-80.73573005267755],
 [-80.73571755816923],
 [-80.73570350184735],
 [-80.73566029167267],
 [-80.73578211312898],
 [-80.73999484485721],
 [-80.739673631872],
 [-80.74003649321834],
 [-80.73971580083764],
 [-80.7398917651634],
 [-80.74343395827746],
 [-80.74330693077601],
 [-80.74159362132006],
 [-80.739913630553],
 [-80.74161132187353],
 [-80.74349226598304],
 [-80.74192212276846],
 [-80.74163422847215],
 [-80.74082937389332],
 [-80.74010781603677],
 [-80.74100742063715],
 [-80.74164984660757],
 [-80.74193565848583],
 [-80.74334962034617],
 [-80.74367083333138],
 [-80.74416072217915],
 [-80.74710369949746],
 [-80.74675801810008],
 [-80.74659506888717],
 [-80.74614006054183],
 [-80.74613068966057],
 [-80.7460947679491],
 [-80.74604270749768],
 [-80.74570900000414],
 [-80.74506813584725],
 [-80.74522015236539],
 [-80.74500045726043],
 [-80.74501191055974],
 [-80.74713545637282],
 [-80.74665597961531],
 [-80.74691419945432],
 [-80.73281674981658],
 [-80.73280373470372],
 [-80.73279124019538],
 [-80.73277510145545],
 [-80.73187809987763],
 [-80.73183488970295],
 [-80.73187237322796],
 [-80.7318843471318],
 [-80.73189632103562],
 [-80.73190933614848],
 [-80.73193380456063],
 [-80.73206707931624],
 [-80.73173961907686],
 [-80.7312471272065],
 [-80.73122161758532],
 [-80.73120860247246],
 [-80.73027672039221],
 [-80.73028973550504],
 [-80.73031576573077],
 [-80.73034179595648],
 [-80.73035533167382],
 [-80.73036834678668],
 [-80.73038656794469],
 [-80.72974310076523],
 [-80.72972487960725],
 [-80.7297123850989],
 [-80.72967073673776],
 [-80.72965147437074],
 [-80.7296353356308],
 [-80.72873885465751],
 [-80.72883516649262],
 [-80.72888722694402],
 [-80.72892783409611],
 [-80.72900280114617],
 [-80.73051515725967],
 [-80.73052817237252],
 [-80.73056721771108],
 [-80.7298680458486],
 [-80.7298555513403],
 [-80.72979412000763],
 [-80.72978006368574],
 [-80.73201085402873],
 [-80.73203167820928],
 [-80.73205874964403],
 [-80.73210039800514],
 [-80.73211497493153],
 [-80.73198274138495],
 [-80.73147931681982],
 [-80.73146526049793],
 [-80.73145068357152],
 [-80.73143610664513],
 [-80.73142257092778],
 [-80.73138092256664],
 [-80.73136738684927],
 [-80.73302915645834],
 [-80.73301457953194],
 [-80.73293909187738],
 [-80.72815838062427],
 [-80.72815994243781],
 [-80.72817503996872],
 [-80.7281969053583],
 [-80.7282073174486],
 [-80.728221894375],
 [-80.72824115674202],
 [-80.72736237632219],
 [-80.72737799445761],
 [-80.72740454528781],
 [-80.72747430629272],
 [-80.72569435945896],
 [-80.72571570424404],
 [-80.72574589930586],
 [-80.72578702706245],
 [-80.72589062736078],
 [-80.72660281433609],
 [-80.72626181837934],
 [-80.72643934451864],
 [-80.72639405192594],
 [-80.72638416044015],
 [-80.72637426895437],
 [-80.72296899482757],
 [-80.72300127230744],
 [-80.7230179316519],
 [-80.72307103331234],
 [-80.72355936034657],
 [-80.7235312477028],
 [-80.72347970785592],
 [-80.72163468545789],
 [-80.72166331870616],
 [-80.72185854539896],
 [-80.72159980495543],
 [-80.72209125561676],
 [-80.72234947545576],
 [-80.72220058256472],
 [-80.72217246992096],
 [-80.7209568583805],
 [-80.72095009052182],
 [-80.7211562499094],
 [-80.7211114779212],
 [-80.72108700950902],
 [-80.72107711802325],
 [-80.72103703147567],
 [-80.72101724850414],
 [-80.72177160444508],
 [-80.72180336132044],
 [-80.7218533393538],
 [-80.72186271023506],
 [-80.72187312232535],
 [-80.72189030227432],
 [-80.72238591777176],
 [-80.7223765468905],
 [-80.72235364029186],
 [-80.72234010457451],
 [-80.72231251253527],
 [-80.72229429137727],
 [-80.72322461164399],
 [-80.72312257315923],
 [-80.72313871189917],
 [-80.72316213910229],
 [-80.72317567481966],
 [-80.7231918135596],
 [-80.72321524076274],
 [-80.72374001011296],
 [-80.72373063923172],
 [-80.72369836175184],
 [-80.72367389333968],
 [-80.72366348124939],
 [-80.72584012872291],
 [-80.72588281829306],
 [-80.72590051884653],
 [-80.72591874000454],
 [-80.7265882374097],
 [-80.72654658904855],
 [-80.72751491344482],
 [-80.72754458790213],
 [-80.72755656180595],
 [-80.727576865382],
 [-80.72830675291078],
 [-80.72832913890488],
 [-80.72836297819832],
 [-80.72837443149761],
 [-80.72839629688723],
 [-80.72840775018653],
 [-80.72841972409036],
 [-80.72843065678515],
 [-80.7284509603612],
 [-80.7232876047902],
 [-80.72326834242318],
 [-80.72394200466445],
 [-80.72161750550892],
 [-80.72139364556784],
 [-80.72245880240374],
 [-80.72247442053916],
 [-80.72105681444721],
 [-80.7215732541252],
 [-80.72262539584824],
 [-80.73302863585383],
 [-80.73289536109822],
 [-80.73293388583225],
 [-80.73267098055263],
 [-80.73216026752428],
 [-80.7319030888943],
 [-80.7316115503664],
 [-80.73058439766005],
 [-80.73032201298491],
 [-80.73005598407822],
 [-80.72927924214315],
 [-80.72851395350742],
 [-80.72826146031805],
 [-80.72874718432972],
 [-80.72950466389777],
 [-80.73003515989765],
 [-80.73056357347949],
 [-80.73107845134393],
 [-80.73052088390932],
 [-80.73025381379357],
 [-80.729992990932],
 [-80.72947446883595],
 [-80.72921624899695],
 [-80.72871126261826],
 [-80.72832497406878],
 [-80.73048444159332],
 [-80.73311609741219],
 [-80.73285943938673],
 [-80.73258768383037],
 [-80.73232686096878],
 [-80.73195410813668],
 [-80.73165163691397],
 [-80.7320472963447],
 [-80.73229822772052],
 [-80.73277249843288],
 [-80.73251063436226],
 [-80.73019862971509],
 [-80.72967125734228],
 [-80.7294172023394],
 [-80.72865503733074],
 [-80.73350498898424],
 [-80.73318846143965],
 [-80.73315930758685],
 [-80.73366689698813],
 [-80.73361743955928],
 [-80.73308538174585],
 [-80.73333683372618],
 [-80.7335893269155],
 [-80.73302915645834],
 [-80.74247604597147],
 [-80.74246459267218],
 [-80.74211422583417],
 [-80.74250780284683],
 [-80.73947059611149],
 [-80.73945758099862],
 [-80.73944508649029],
 [-80.7394268653323],
 [-80.7393899024118],
 [-80.7398402253165],
 [-80.73990530088076],
 [-80.74474588165302],
 [-80.72840931200005],
 [-80.72874874614328],
 [-80.7285467515918],
 [-80.72852436559768],
 [-80.73624545114653],
 [-80.7354067572743],
 [-80.73478723790251],
 [-80.73556085621048],
 [-80.73444988617734],
 [-80.73446758673084],
 [-80.73595807745475],
 [-80.73622358575695],
 [-80.73673533999431],
 [-80.73700084829652],
 [-80.73726115055358],
 [-80.73751260253388],
 [-80.7377671781413],
 [-80.73747251598631],
 [-80.72284404974418],
 [-80.72552828661894],
 [-80.725825031192],
 [-80.72556264651689],
 [-80.72557878525683],
 [-80.72561158334122],
 [-80.7265778253194],
 [-80.72671318249309],
 [-80.72733009884232],
 [-80.72731656312494],
 [-80.72730250680306],
 [-80.73093892933414],
 [-80.73097120681402],
 [-80.73098161890431],
 [-80.73099307220363],
 [-80.73122994725753],
 [-80.73095819170119],
 [-80.73069788944413],
 [-80.73032149238043],
 [-80.73031160089465],
 [-80.73030170940888],
 [-80.73028244704186],
 [-80.73025589621164],
 [-80.72936982732861],
 [-80.72938180123242],
 [-80.72939377513626],
 [-80.72941876415294],
 [-80.72943073805675],
 [-80.7294432325651],
 [-80.72945520646893],
 [-80.72946718037275],
 [-80.72953954440021],
 [-80.72864098100885],
 [-80.7287982035721],
 [-80.72878466785475],
 [-80.72861026534252],
 [-80.72894241102253],
 [-80.72781946708558],
 [-80.72780436955466],
 [-80.72784237368418],
 [-80.72787673358214],
 [-80.72788766627693],
 [-80.72789964018075],
 [-80.72811621165863],
 [-80.72786840390991],
 [-80.72760966346638],
 [-80.72727283234575],
 [-80.72724888453811],
 [-80.72722649854398],
 [-80.72716454660683],
 [-80.72625973596129],
 [-80.7262717098651],
 [-80.72628264255991],
 [-80.72629357525469],
 [-80.72565843774748],
 [-80.72562928389468],
 [-80.72561574817733],
 [-80.7248884636711],
 [-80.7248364032197],
 [-80.72495145681732],
 [-80.7229591033418],
 [-80.72486920130409],
 [-80.72488117520791],
 [-80.72490356120201],
 [-80.72496030709404],
 [-80.7250316299125],
 [-80.72637739258148],
 [-80.72639925797107],
 [-80.72640967006136],
 [-80.72643205605544],
 [-80.7257401726562],
 [-80.72571726605757],
 [-80.72799491080684],
 [-80.727410792542],
 [-80.72739933924268],
 [-80.72733894911904],
 [-80.72731343949786],
 [-80.72951351417451],
 [-80.72956193039433],
 [-80.72961763507733],
 [-80.72894345223156],
 [-80.7289304371187],
 [-80.72889243298917],
 [-80.72908037121877],
 [-80.73105606534983],
 [-80.73107168348527],
 [-80.73108678101617],
 [-80.73110187854708],
 [-80.73111697607797],
 [-80.73116330987975],
 [-80.73119350494157],
 [-80.73050214214682],
 [-80.7304865240114],
 [-80.73047090587598],
 [-80.73045528774055],
 [-80.73044019020963],
 [-80.73042457207421],
 [-80.73039385640789],
 [-80.72260405106317],
 [-80.73184582239776],
 [-80.73255852997758],
 [-80.73290577318849],
 [-80.73326499030323],
 [-80.73344303704705],
 [-80.73319158506672],
 [-80.7318958004311],
 [-80.73165996658621],

In [161]:
coords['X_COORD'] = longitude_scale.fit_transform(longitude)
coords['Y_COORD'] = latitude_scale.fit_transform(latitude)
coords

          X_COORD    Y_COORD
205    -80.731188  24.195344
206    -80.730983  24.195658
249    -80.733812  24.191336
255    -80.734492  24.190298
278    -80.729792  24.197477
...           ...        ...
578574 -80.532946  24.498151
578575 -80.533106  24.497907
578576 -80.532961  24.498128
578577 -80.532541  24.498769
578578 -80.533465  24.497358

[316124 rows x 2 columns]

In [162]:
coords.describe()

             X_COORD        Y_COORD
count  316124.000000  316124.000000
mean      -80.556263      24.462535
std         0.148033       0.226114
min       -80.872408      23.979636
25%       -80.673479      24.283492
50%       -80.564747      24.449576
75%       -80.450605      24.623924
max       -80.118139      25.131753

In [163]:
single_family[['X_COORD','Y_COORD']] = coords
single_family

,OBJECTID,PID,FOLIO,TTRRSS,X_COORD,Y_COORD,CONDO_FLAG,PARENT_FOLIO,DOR_CODE_CUR,DOR_DESC,SUBDIVISION,BEDROOM_COUNT,BATHROOM_COUNT,HALF_BATHROOM_COUNT,FLOOR_COUNT,UNIT_COUNT,BUILDING_ACTUAL_AREA,BUILDING_HEATED_AREA,LOT_SIZE,YEAR_BUILT,ASSESSMENT_YEAR_CUR,ASSESSED_VAL_CUR,DOS_1,PRICE_1,LEGAL,Shape__Area,Shape__Length
205,206,360730,1.010208e+11,534136,-80.731188,24.195344,N,NaN,101.0,RESIDENTIAL - SINGLE FAMILY : 1 UNIT,10102080.0,3.0,1.0,0.0,1.0,1.0,1093.0,1093.0,7500.0,1953.0,2022.0,165203.0,NaN,NaN,MIAMI NORTH PB B-41 LOT 8 BLK 28 LOT SIZE 7500...,883.314453,135.836805
206,207,148065,1.010208e+11,534136,-80.730983,24.195658,N,NaN,101.0,RESIDENTIAL - SINGLE FAMILY : 1 UNIT,10102080.0,1.0,1.0,0.0,1.0,1.0,901.0,901.0,2500.0,1925.0,2022.0,48835.0,20190724.0,60100.0,MIAMI NORTH PB B-41 N100FT OF E25FT LOT 9 BLK ...,287.650391,84.940715
249,250,556344,1.010407e+11,534136,-80.733812,24.191336,N,NaN,101.0,RESIDENTIAL - SINGLE FAMILY : 1 UNIT,10104070.0,4.0,1.0,0.0,1.0,1.0,1065.0,1065.0,2500.0,1954.0,2022.0,181159.0,20190717.0,200000.0,MIAMI NORTH PB B-41 N25FT OF S75FT OF LOTS 9 &...,271.453125,82.556798
255,256,124471,1.010407e+11,534136,-80.734492,24.190298,N,NaN,101.0,RESIDENTIAL - SINGLE FAMILY : 1 UNIT,10104070.0,4.0,2.0,1.0,2.0,1.0,1710.0,2280.0,7500.0,1940.0,2022.0,406976.0,20161103.0,0.0,MIAMI NORTH PB B-41 LOT 14 BLK 47 LOT SIZE 50....,922.111328,137.556989
278,279,55207,1.010409e+11,534136,-80.729792,24.197477,N,NaN,101.0,RESIDENTIAL - SINGLE FAMILY : 1 UNIT,10104090.0,3.0,2.0,0.0,1.0,1.0,1784.0,1455.0,3750.0,1920.0,2022.0,150701.0,20190306.0,101000.0,MIAMI NORTH PB B-41 LOT 18 LESS N75FT BLK 49 L...,400.408203,81.067332
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
578574,578575,413806,3.660100e+12,564010,-80.532946,24.498151,N,NaN,101.0,RESIDENTIAL - SINGLE FAMILY : 1 UNIT,366010035.0,5.0,5.0,0.0,2.0,1.0,4346.0,3385.0,11537.0,2019.0,2022.0,523127.0,20191216.0,602700.0,JACQUELINE GARDENS PB 164-73 T-21500 LOT 9 BLK...,1322.830078,155.214602
578575,578576,269752,3.660100e+12,564010,-80.533106,24.497907,N,NaN,101.0,RESIDENTIAL - SINGLE FAMILY : 1 UNIT,366010035.0,4.0,4.0,0.0,2.0,1.0,3583.0,2600.0,9327.0,2018.0,2022.0,365373.0,20190514.0,525000.0,JACQUELINE GARDENS PB 164-73 T-21500 LOT 10 BL...,1098.792969,149.506911
578576,578577,415651,3.660100e+12,564010,-80.532961,24.498128,N,NaN,101.0,RESIDENTIAL - SINGLE FAMILY : 1 UNIT,366010035.0,4.0,4.0,1.0,2.0,1.0,3682.0,2740.0,10346.0,2019.0,2022.0,425452.0,20191115.0,579900.0,JACQUELINE GARDENS PB 164-73 T-21500 LOT 11 BL...,1205.316406,147.459041
578577,578578,336106,3.660100e+12,564010,-80.532541,24.498769,N,NaN,101.0,RESIDENTIAL - SINGLE FAMILY : 1 UNIT,366010035.0,5.0,5.0,0.0,2.0,1.0,4346.0,3385.0,10690.0,2018.0,2022.0,395406.0,20180531.0,549900.0,JACQUELINE GARDENS PB 164-73 T-21500 LOT 12 BL...,1199.578125,163.027157
578578,578579,216039,3.660100e+12,564010,-80.533465,24.497358,N,NaN,101.0,RESIDENTIAL - SINGLE FAMILY : 1 UNIT,366010036.0,4.0,2.0,1.0,1.0,1.0,2976.0,2259.0,17268.0,2012.0,2022.0,435734.0,20181022.0,100.0,MIMOSA PB 165-50 T-22266 LOT 1 BLK 1 LOT SIZE ...,1799.093750,165.961167

In [164]:
single_family.to_csv('single_family.csv', index = False)
coords.to_csv('single_family_coords.csv', index = True)

In [114]:
check_code = result[['DOR_DESC','DOR_CODE_CUR']]
codes = {}

for x in check_code.iterrows():
    search = codes.get(x['DOR_CODE_CUR'])
    if search == -1:
        codes[x['DOR_CODE_CUR']] = x['DOR_DESC']
    else: 
        if search == (x['DOR_DESC']):
            continue
        else: 
            print("Error")

TypeError: tuple indices must be integers or slices, not str